﻿@import url("child/easylink_form.css");
@import url("child/cke_easylinks.css");
@import url("child/linkbank.css");
@import url("child/paidtraffic.css");
@import url("child/rotator.css");
@import url("child/manual_sale.css");
@import url("child/link_sequence.css");
@import url("child/email_campaign.css");
@import url("child/dashboard.css");
@import url("child/data_table.css");

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.clearfix{
    clearboth;
}

.bg-light {
    color: #000000;
    background-color: #fbfbfb;
}

.bg-blue {
    color: #ffffff;
    background-color: #0169b2;
}

.pagination-info {
	font-size: 12px;
	float: left;
	display: inline-block;
	margin: 0px;
	line-height: 30px;
}

.pagination-controls {
	display: inline-block;
	margin: 0px auto 0 13%;
}

.pagination-page-no {
	font-size: 12px;
	float: right;
	display: inline-block;
	margin-top: 0px;
}

.linear_gradient {
    background: -webkit-linear-gradient(#fdfdfd, #F4F4F4) !important; /* For Safari */
    background: -o-linear-gradient(#fdfdfd, #F4F4F4) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fdfdfd, #F4F4F4) !important; /* For Fx 3.6 to 15 */
    background: linear-gradient(#fdfdfd, #F4F4F4) !important; /* Standard syntax (must be last) */
}

.form-control.readonly {
    background: #fff;
}

.no-border {
    border: 0 none !important;
    box-shadow: none !important;
}

.hidden {
    display: none;
}

.text-xs {
    font-size: 10px;
    margin-bottom: 0;
}

.green-icon {
    color: #075e07;
    text-shadow: 1px 1px 2px #c1c1c1;
}

.yellow-icon {
    color: #e5e500;
    text-shadow: 1px 1px 2px black;
}

.red-icon {
    color: #b60202;
    text-shadow: 1px 1px 2px #c1c1c1;
}

.grey-scale,
.grey-scale span,
.grey-scale a {
    color: #a1a1a1;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    right: 7px;
}

.skin-black-light .main-header li.user-header {
    background-color: #222;
}

.main-sidebar .user-panel {
    border-bottom: 1px solid #eeeeee;
}

    .main-sidebar .user-panel small {
        margin-bottom: 5px;
    }

.skin-black-light .main-sidebar,
.skin-black-light .left-side {
    width: 229px;
}

.skin-black-light .wrapper,
.skin-black-light .main-sidebar,
.skin-black-light .left-side {
    background-color: #fdfeff;
}

.skin-black-light .content-wrapper,
.skin-black-light .right-side,
.skin-black-light .main-footer {
    margin-left: 229px;
    border-left: 1px solid #eeeeee;
}

@media (max-width:767px) {
    .skin-black-light .content-wrapper,
    .skin-black-light .right-side,
    .skin-black-light .main-footer {
        margin-left: 0;
    }

    .skin-black-light .main-header > .logo {
        background-color: #fff;
        border-bottom: 1px solid #eee;
        border-right: medium none;
        color: #333;
    }

        .skin-black-light .main-header > .logo:hover {
            background-color: #fff;
        }
}
/*light theme*/

@media (max-width:767px) {
    .search-open .logo-mini.visible-xs-inline-block,
    .search-open .mobile-search-icon.visible-xs-inline-block {
        display: none !important;
    }

    .mini-search-form.visible-xs-inline-block {
        display: none !important;
    }

    .search-open .mini-search-form.visible-xs-inline-block {
        display: inline-block !important;
        float: left;
    }

    .search-open .mini-search-form.visible-xs-inline-block {
        display: inline-block !important;
        float: left;
        margin-top: 2px;
        margin-left: 7px;
        max-width: 70%;
    }

        .search-open .mini-search-form.visible-xs-inline-block .form-group {
            margin: 0;
            padding: 0;
            float: left;
            max-width: 90%;
        }

            .search-open .mini-search-form.visible-xs-inline-block .form-group .input-group-addon {
                margin: 0;
                padding: 0;
            }

                .search-open .mini-search-form.visible-xs-inline-block .form-group .input-group-addon .btn {
                    background: transparent;
                }

        .search-open .mini-search-form.visible-xs-inline-block .btn-close-form {
            margin-top: 8px;
            font-size: 20px;
            margin-left: 3px;
            float: left;
        }
}

@media (max-width: 600px) {
    .search-open .mini-search-form.visible-xs-inline-block {
        max-width: 65% !important;
    }
}

@media (min-width:768px) {
    .filter-box .col-sm-3 {
        padding-right: 0;
    }

        .filter-box .col-sm-3:last-child {
            padding-right: 15px;
        }
}

@media (max-width:767px) {
    .filter-box .col-sm-3 {
        margin-bottom: 7px;
    }
}

.filter-box {
    width: 96%;
    display: block;
    margin: auto;
    margin-top: 7px;
}

    .filter-box .search-form-lg {
        margin: 0;
        padding: 0;
    }

        .filter-box .search-form-lg .form-group {
            margin: 0;
            padding: 0;
            width: 100%;
        }

            .filter-box .search-form-lg .form-group .input-group {
                width: 100%;
            }

                .filter-box .search-form-lg .form-group .input-group .input-sm {
                    height: 28px;
                }

            .filter-box .search-form-lg .form-group .input-group-addon {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

                .filter-box .search-form-lg .form-group .input-group-addon .btn {
                    margin: 0 12px 0 0;
                    padding: 0;
                    background: transparent;
                }


.sidebar-menu > li {
    border-bottom: 1px solid #eeeeee;
}

    .sidebar-menu > li > a {
        height: 50px;
        padding: 15px 5px 12px 20px;
    }

.sidebar-menu li > a > .fa,
.sidebar-menu li > a > .glyphicon,
.sidebar-menu li > a > .ion {
    /*display: inline-block;
            float: left;*/
    font-size: 20px;
    width: 40px;
}

.sidebar-menu li > a > span {
    /*display: inline-block;
            float: left;*/
    height: 50px;
}

.sidebar-menu > li.active > a,
.treeview-menu li {
    border-bottom: 1px solid #dfdfdf;
}

.sidebar-collapse .sidebar-menu > li > a {
    padding-left: 12px;
}

.content-wrapper,
.right-side {
    /*background-color: #ffffff;*/
    background-color: #fbfbfb;
    min-height: 650px !important;
}

    .content-wrapper.white-bg,
    .right-side.white-bg {
        /*background-color: #ffffff;*/
    }

.container-white {
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #c1c1c1;
}

.login-page, .register-page {
    background-color: #ffffff;
}

.login-box-body, .register-box-body {
    background-color: #f0f0f0;
}

.btn-blue {
    background-color: #1ac6b4;
    color: #333333;
    font-size: 15px;
}

    .btn-blue i.ion-log-in {
        margin-left: 7px;
    }

.btn-bordered {
    border: 1px solid #c1c1c1;
    color: #333333;
    font-size: 12px;
}

    .btn-bordered:hover {
        background-color: #4d5760;
        color: #ffffff;
    }

    .btn-bordered:focus {
        border: 1px solid #c1c1c1;
    }

.login-box-msg small {
    font-weight: normal;
    font-size: 65%;
}

.btn-gray {
    background-color: #4d5760;
    color: #ffffff;
    padding-bottom: 3px;
}

    .btn-gray:hover {
        background-color: #747e87;
        color: #ffffff;
    }

.btn-forget-password {
    color: #898989;
}

.icheckbox_square-blue {
    background-color: #ffffff;
}

.iradio_square-blue {
    background-color: transparent;
}

.smallcheck .icheckbox_square-blue,
.smallradio .iradio_square-blue {
    background: url(blue_small.png) no-repeat;
    height: 15px;
    width: 15px;
}

.smallradio .iradio_square-blue {
    background-position: -75px 0;
}

    .smallradio .iradio_square-blue.hover {
        background-position: -89px 0;
    }

    .smallradio .iradio_square-blue.checked {
        background-position: -104px 0;
    }

.smallcheck .icheckbox_square-blue {
    background-position: 0 0;
}

    .smallcheck .icheckbox_square-blue.hover {
        background-position: -15px 0;
    }

    .smallcheck .icheckbox_square-blue.checked {
        background-position: -29px 0;
    }

.box-gray {
}

    .box-gray .box-header {
        background-color: #4d5760;
        color: #e3e6eb;
    }

        .box-gray .box-header .btn-box-tool {
            color: #d6dadd;
        }

    .box-gray > .box-body {
        display: block;
        background-color: #f0f0f0;
        color: #353736;
    }

        .box-gray > .box-body hr {
            border-top: 1px solid #b2b2b2;
            border-bottom: 1px solid #ffffff;
            box-sizing: border-box;
        }

        .box-gray > .box-body.white-body {
            display: block;
            background-color: #ffffff;
            color: #353736;
        }

            .box-gray > .box-body.white-body hr {
                border-top: 1px solid #b2b2b2;
                border-bottom: 1px solid #ffffff;
                box-sizing: border-box;
            }

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    padding: 4px 0;
    border: 1px solid #d2d6de;
}

.select2-container--open {
    z-index: 100000;
}

.no-gutter {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 1400px) {
    .box-900 {
        width: 900px;
    }
}

.box-controls {
}

    .box-controls .box-body {
        padding-bottom: 0;
        padding-top: 15px;
    }

.box-border-doted {
    border: 1px dashed #757575 !important;
}

.well-dotted {
    border: 1px dashed #757575 !important;
    background: transparent;
}

.box-top-padded {
    padding-top: 20px !important;
}

.btn-links {
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.form-group.has-error select.select2-hidden-accessible {
    display: none;
}

.form-group.has-error .select2-container .select2-selection {
    border-color: #dd4b39 !important;
    box-shadow: none;
}

.container-900 {
    max-width: 900px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.main-footer.full-width {
    margin-left: 0;
}

.icon16x16 {
    width: 16px;
    height: 16px;
}

.icon16xheight {
    height: 16px;
    width: auto;
}

.icon16xwidth {
    width: 16px;
    height: auto;
}

.nonuniqueclick {
    color: #ff9c00;
}

.botclick {
    color: #f51a61;
}

.uniqueclick {
    color: #7db22b;
}

.top-buttons .btn-bordered, .top-buttons .btn-gray {
    margin-top: 5px;
    width: 125px;
    padding: 6px 6px;
    font-size: 12px;
}

.btn-small-icon {
    font-size: 12px;
    padding: 0;
}

    .btn-small-icon i.fa {
    }

.legend_checkbox {
    margin-top: 12px;
}

    .legend_checkbox .icheckbox_square-blue {
        display: inline-block;
        float: left;
        margin-right: 5px;
    }

    .legend_checkbox .legend_color {
        width: 15px;
        height: 15px;
        display: inline-block;
        float: left;
        margin-right: 5px;
    }

    .legend_checkbox .legend_label {
        display: inline-block;
        float: left;
        margin-right: 5px;
    }

    .legend_checkbox ul li {
        min-width: 200px;
    }

@media (min-width: 990px) {
    .piebottom.singlechart {
        display: inline-block;
        float: right;
        width: 200px;
    }

    .legend_checkbox.singlechart {
        padding-top: 20%;
    }
}

@media (max-width: 980px) {
    .piebottom.singlechart {
        margin-bottom: 12px;
        width: 100%;
    }
}

.small-box.create-new-box {
    border: 1px dashed #939393;
    height: 150px;
    padding-top: 20px;
    text-align: center;
}

    .small-box.create-new-box a {
        color: #979797;
    }

        .small-box.create-new-box a h2 {
        }

.top-button .btn {
    min-width: 130px;
}

.logo-lg .easylinks_logo {
    height: 50px;
    margin-top: -4px;
}

.logo-mini .easylinks_logo {
    height: 40px;
    margin: auto;
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.mobile-search-icon {
    display: inline-block;
    float: right;
    margin-right: 7px;
    margin-top: 14px;
}

.ui-state-highlight {
    height: 175px;
}

#EasyLinksWaitModel {
}

    #EasyLinksWaitModel .modal-dialog {
        width: 200px;
        margin-top: 250px;
    }

        #EasyLinksWaitModel .modal-dialog .modal-header {
            padding: 1px 15px;
        }

            #EasyLinksWaitModel .modal-dialog .modal-header h4 {
                margin: 5px 0;
            }

        #EasyLinksWaitModel .modal-dialog .modal-body {
        }

            #EasyLinksWaitModel .modal-dialog .modal-body .progress {
                margin: 0;
            }

.content-header > .breadcrumb {
    z-index: 1000;
    top: 7px;
}

.help-block.with-errors {
    display: none;
}

.has-error .help-block.with-errors {
    display: block;
}

.btn-split-sale {
    display: block;
    margin: 0;
    padding: 0;
    text-align: right;
}

#EasyLinksModel {
}

    #EasyLinksModel .modal-dialog {
        max-height: 90%;
        overflow-y: auto;
    }

        #EasyLinksModel .modal-dialog .mCSB_inside > .mCSB_container {
            margin-right: 0;
        }

        #EasyLinksModel .modal-dialog .mCSB_inside > .mCSB_scrollTools {
            height: 98%;
            margin-top: 1%;
        }

        #EasyLinksModel .modal-dialog .modal-footer {
            padding: 15px 15px 30px;
        }

.chart-box-body {
    height: 315px;
    overflow: hidden;
}

    .chart-box-body .legend_checkbox {
        max-height: 50px;
        overflow-x: hidden;
        overflow-y: auto;
    }

tr.detail_row {
}

    tr.detail_row .detail_table_heading {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 1%;
        width: 98%;
    }

    tr.detail_row tr th {
        text-decoration: none;
        font-weight: bold;
    }



.pagination > li > a,
.pagination > li > span {
    font-size: 12px;
    padding: 5px 12px;
}

img.jvectormap-marker {
}

.description-block {
    height: 80px;
    margin-bottom: 12px;
    overflow: hidden;
}

    .description-block.margin-bottom {
        margin-bottom: 12px;
    }


.sidebar-menu .treeview-menu > li {
    margin: 0;
    padding: 5px 20px;
}


.select-xs .select2-container .select2-selection--single {
    height: 24px;
}

.select-xs .select2-container--default .select2-selection--single,
.select-xs .select2-selection .select2-selection--single {
    padding: 1px 0;
}

    .select-xs .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 22px;
    }

.status_form {
    /*background-color: #c1c1c1;*/
    /*display: none;*/
    padding: 12px;
    /*position: absolute;*/
    right: 25px;
    width: 185px;
}

    .status_form .select2 {
        width: 100px;
    }

.child .status_form {
    background: transparent none repeat scroll 0 0;
    position: relative;
    width: auto;
}

    .child .status_form .btn {
        height: 24px;
        width: 65px;
    }

.domain-buttons .btn {
    margin-bottom: 7px;
}

.picture-element-principal {
    max-height: 100% !important;
    max-width: 100% !important;
    min-height: 30px !important;
    min-width: 150px !important;
}

.picture-element-image {
    height: auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
    width: auto !important;
}

.partner-image {
    text-align: center;
    height: 100%;
}

    .partner-image img {
        /*margin-top: 100%;
        width: 130%;*/
        margin: auto;
        width: 40px;
    }

.qtip-submenu {
}

    .qtip-submenu .qtip-content {
        padding: 0;
    }

.qtipsubmenu {
    display: none;
}

    .qtipsubmenu ul {
        width: 100%;
    }

        .qtipsubmenu ul li {
            width: 100%;
        }

            .qtipsubmenu ul li a {
                border-bottom: 1px solid #e3e3e3;
                display: block;
                font-size: 12px;
                line-height: 12px;
                padding: 5px 7px;
                text-align: left;
            }

            .qtipsubmenu ul li:last-child a {
                border: none;
            }

            .qtipsubmenu ul li a:hover {
                /*background-color: midnightblue;
    color: white;*/
            }

            .qtipsubmenu ul li a .fa {
                margin-right: 5px;
            }

.extra-options {
}

    .extra-options .btn-default {
        margin-bottom: 5px;
    }

.youtube_thumbnail {
    /*height: 70px;*/
    width: 500px;
}

.dataTables_filter > label {
    /*display: block;*/
}

    .dataTables_filter > label .form-group {
        /*display: block;*/
        /*margin-right: 7px;*/
        width: auto;
        display: inline-block;
    }

        .dataTables_filter > label .form-group .search_datatable {
            margin-left: 10px;
            padding-bottom: 4px;
            padding-top: 3px;
        }

.loadmorewait{
    display: none;
    width: 100%;
    text-align: center;
}

.loadmorewait img{
    width: 17px;
    margin: auto;
}