html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}

.f_left {float: left !important;}
.f_right {float: right !important;}
.com {float:left;width:100%;}
.align_center {float:left;width:100%;text-align:center;}
a {text-decoration:none;}
a:focus, a:active, a:hover {outline:none;}
ul {margin: 0;padding: 0;}
ul li {float:left;list-style-type:none;}
ul li a {float:left;}
img {border:none;}
.clear {clear:both;}
.m_top {margin-top:5px;}
.m_top1 {margin-top:10px;}
.m_top2 {margin-top:20px;}
.m_top3 {margin-top:30px;}
.m_bot {margin-bottom:5px;}
.m_bot1 {margin-bottom:10px;}
.m_bot2 {margin-bottom:20px;}
.m_bot3 {margin-bottom:30px;}
textarea:focus, input:focus, select {outline: 0;}
textarea {resize:none;}
img {max-width: 100%;height: auto;}