﻿.flag-ad, .flag-ae, .flag-af, .flag-ag, .flag-ai, .flag-al, .flag-am, .flag-an, .flag-ao, .flag-ar, .flag-as, .flag-at, .flag-au, .flag-aw, .flag-ax, .flag-az, .flag-ba, .flag-bb, .flag-bd, .flag-be, .flag-bf, .flag-bg, .flag-bh, .flag-bi, .flag-bj, .flag-bm, .flag-bn, .flag-bo, .flag-br, .flag-bs, .flag-bt, .flag-bv, .flag-bw, .flag-by, .flag-bz, .flag-ca, .flag-cc, .flag-cd, .flag-cf, .flag-cg, .flag-ch, .flag-ci, .flag-ck, .flag-cl, .flag-cm, .flag-cn, .flag-co, .flag-cr, .flag-cs, .flag-cu, .flag-cv, .flag-cx, .flag-cy, .flag-cz, .flag-de, .flag-dj, .flag-dk, .flag-dm, .flag-do, .flag-dz, .flag-ec, .flag-ee, .flag-eg, .flag-eh, .flag-en, .flag-er, .flag-es, .flag-et, .flag-eu, .flag-fa, .flag-fi, .flag-fj, .flag-fk, .flag-fm, .flag-fo, .flag-fr, .flag-ga, .flag-gb, .flag-gd, .flag-ge, .flag-gh, .flag-gi, .flag-gl, .flag-gm, .flag-gn, .flag-gp, .flag-gq, .flag-gr, .flag-gs, .flag-gt, .flag-gu, .flag-gw, .flag-gy, .flag-hk, .flag-hn, .flag-hr, .flag-ht, .flag-hu, .flag-id, .flag-ie, .flag-il, .flag-in, .flag-io, .flag-iq, .flag-ir, .flag-is, .flag-it, .flag-jm, .flag-jo, .flag-jp, .flag-je, .flag-jg, .flag-ke, .flag-kg, .flag-kh, .flag-ki, .flag-km, .flag-kn, .flag-kp, .flag-kr, .flag-kw, .flag-ky, .flag-kz, .flag-la, .flag-lb, .flag-lc, .flag-li, .flag-lk, .flag-lr, .flag-ls, .flag-lt, .flag-lv, .flag-lu, .flag-ly, .flag-ma, .flag-mc, .flag-md, .flag-mg, .flag-mh, .flag-mk, .flag-ml, .flag-mm, .flag-mn, .flag-mo, .flag-mp, .flag-mq, .flag-mr, .flag-ms, .flag-mt, .flag-mu, .flag-mv, .flag-mw, .flag-mx, .flag-my, .flag-mz, .flag-na, .flag-nc, .flag-ne, .flag-nf, .flag-ng, .flag-ni, .flag-nl, .flag-no, .flag-np, .flag-nr, .flag-nu, .flag-nz, .flag-om, .flag-pa, .flag-pe, .flag-pf, .flag-pg, .flag-ph, .flag-pk, .flag-pl, .flag-pm, .flag-pn, .flag-pr, .flag-ps, .flag-pt, .flag-pw, .flag-py, .flag-qa, .flag-ro, .flag-rs, .flag-ru, .flag-rw, .flag-sa, .flag-sb, .flag-sc, .flag-sco, .flag-sd, .flag-se, .flag-sg, .flag-sh, .flag-si, .flag-sk, .flag-sl, .flag-sm, .flag-sn, .flag-so, .flag-sr, .flag-st, .flag-sv, .flag-sy, .flag-sz, .flag-tc, .flag-td, .flag-tf, .flag-tg, .flag-th, .flag-tj, .flag-tk, .flag-tl, .flag-tm, .flag-tn, .flag-to, .flag-tr, .flag-tt, .flag-tv, .flag-tw, .flag-tz, .flag-ua, .flag-ug, .flag-uk, .flag-um, .flag-us, .flag-uy, .flag-uz, .flag-va, .flag-vc, .flag-ve, .flag-vg, .flag-vi, .flag-vn, .flag-vu, .flag-wa, .flag-wf, .flag-ws, .flag-ye, .flag-yt, .flag-za, .flag-zm, .flag-zw, .flag-pv {
    height: 16px;
    width: 16px;
    display: inline-block;
    background: url("../images/flags.png") 0 0 transparent;
}

.flag-unknown{
    height: 16px;
    width: 16px;
    display: inline-block;
    background: url("../images/unknown.png") 0 0 transparent;
}

.flag-ad {
    background-position: 0 0;
}

.flag-ae {
    background-position: 0 -16px;
}

.flag-af {
    background-position: 0 -33px;
}

.flag-ag {
    background-position: 0 -50px;
}

.flag-ai {
    background-position: 0 -66px;
}

.flag-al {
    background-position: 0 -82px;
}

.flag-am {
    background-position: 0 -98px;
}

.flag-an {
    background-position: 0 -115px;
}

.flag-ao {
    background-position: 0 -132px;
}

.flag-ar {
    background-position: 0 -149px;
}

.flag-as {
    background-position: 0 -165px;
}

.flag-at {
    background-position: 0 -182px;
}

.flag-au {
    background-position: 0 -199px;
}

.flag-aw {
    background-position: 0 -216px;
}

.flag-ax {
    background-position: 0 -234px;
}

.flag-az {
    background-position: 0 -250px;
}

.flag-ba {
    background-position: 0 -266px;
}

.flag-bb {
    background-position: 0 -282px;
}

.flag-bd {
    background-position: 0 -299px;
}

.flag-be {
    background-position: 0 -316px;
}

.flag-bf {
    background-position: 0 -333px;
}

.flag-bg {
    background-position: 0 -350px;
}

.flag-bh {
    background-position: 0 -367px;
}

.flag-bi {
    background-position: 0 -385px;
}

.flag-bj {
    background-position: 0 -402px;
}

.flag-bm {
    background-position: 0 -418px;
}

.flag-bn {
    background-position: 0 -436px;
}

.flag-bo {
    background-position: 0 -452px;
}

.flag-br {
    background-position: 0 -468px;
}

.flag-bs {
    background-position: 0 -486px;
}

.flag-bt {
    background-position: 0 -502px;
}

.flag-bv {
    background-position: 0 -518px;
}

.flag-bw {
    background-position: 0 -534px;
}

.flag-by {
    background-position: 0 -550px;
}

.flag-bz {
    background-position: 0 -566px;
}

.flag-ca {
    background-position: 0 -582px;
}

.flag-cc {
    background-position: 0 -600px;
}

.flag-cd {
    background-position: 0 -616px;
}

.flag-cf {
    background-position: 0 -633px;
}

.flag-cg {
    background-position: 0 -650px;
}

.flag-ch {
    background-position: 0 -667px;
}

.flag-ci {
    background-position: 0 -684px;
}

.flag-ck {
    background-position: 0 -701px;
}

.flag-cl {
    background-position: 0 -718px;
}

.flag-cm {
    background-position: 0 -735px;
}

.flag-cn {
    background-position: 0 -752px;
}

.flag-co {
    background-position: 0 -769px;
}

.flag-cr {
    background-position: 0 -787px;
}

.flag-cs {
    background-position: 0 -804px;
}

.flag-cu {
    background-position: 0 -821px;
}

.flag-cv {
    background-position: 0 -838px;
}

.flag-cx {
    background-position: 0 -855px;
}

.flag-cy {
    background-position: 0 -872px;
}

.flag-cz {
    background-position: 0 -889px;
}

.flag-de {
    background-position: 0 -906px;
}

.flag-dj {
    background-position: 0 -923px;
}

.flag-dk {
    background-position: 0 -940px;
}

.flag-dm {
    background-position: 0 -957px;
}

.flag-do {
    background-position: 0 -974px;
}

.flag-dz {
    background-position: 0 -991px;
}

.flag-ec {
    background-position: 0 -1008px;
}

.flag-ee {
    background-position: 0 -1026px;
}

.flag-eg {
    background-position: 0 -1044px;
}

.flag-eh {
    background-position: 0 -1062px;
}

.flag-en {
    background-position: 0 -1080px;
}

.flag-er {
    background-position: 0 -1097px;
}

.flag-es {
    background-position: 0 -1114px;
}

.flag-et {
    background-position: 0 -1131px;
}

.flag-eu {
    background-position: 0 -4089px;
}

.flag-fa {
    background-position: 0 -1149px;
}

.flag-fi {
    background-position: 0 -1167px;
}

.flag-fj {
    background-position: 0 -1184px;
}

.flag-fk {
    background-position: 0 -1200px;
}

.flag-fm {
    background-position: 0 -1216px;
}

.flag-fo {
    background-position: 0 -1233px;
}

.flag-fr {
    background-position: 0 -1250px;
}

.flag-ga {
    background-position: 0 -1267px;
}

.flag-gb {
    background-position: 0 -1285px;
}

.flag-gd {
    background-position: 0 -1303px;
}

.flag-ge {
    background-position: 0 -1321px;
}

.flag-gh {
    background-position: 0 -1339px;
}

.flag-gi {
    background-position: 0 -1355px;
}

.flag-gl {
    background-position: 0 -1373px;
}

.flag-gm {
    background-position: 0 -1390px;
}

.flag-gn {
    background-position: 0 -1407px;
}

.flag-gp {
    background-position: 0 -1424px;
}

.flag-gq {
    background-position: 0 -1441px;
}

.flag-gr {
    background-position: 0 -1458px;
}

.flag-gs {
    background-position: 0 -1475px;
}

.flag-gt {
    background-position: 0 -1492px;
}

.flag-gu {
    background-position: 0 -1509px;
}

.flag-gw {
    background-position: 0 -1526px;
}

.flag-gy {
    background-position: 0 -1543px;
}

.flag-hk {
    background-position: 0 -1560px;
}

.flag-hn {
    background-position: 0 -1577px;
}

.flag-hr {
    background-position: 0 -1594px;
}

.flag-ht {
    background-position: 0 -1611px;
}

.flag-hu {
    background-position: 0 -1628px;
}

.flag-id {
    background-position: 0 -1645px;
}

.flag-it {
    background-position: 0 -1662px;
}

.flag-il {
    background-position: 0 -1679px;
}

.flag-in {
    background-position: 0 -1696px;
}

.flag-io {
    background-position: 0 -1713px;
}

.flag-iq {
    background-position: 0 -1730px;
}

.flag-ir {
    background-position: 0 -1747px;
}

.flag-is {
    background-position: 0 -1764px;
}

.flag-ie {
    background-position: 0 -1780px;
}

.flag-jm {
    background-position: 0 -1797px;
}

.flag-jo {
    background-position: 0 -1814px;
}

.flag-jp {
    background-position: 0 -1831px;
}

.flag-ke {
    background-position: 0 -1848px;
}

.flag-kg {
    background-position: 0 -1865px;
}

.flag-kh {
    background-position: 0 -1882px;
}

.flag-ki {
    background-position: 0 -1899px;
}

.flag-km {
    background-position: 0 -1916px;
}

.flag-kn {
    background-position: 0 -1933px;
}

.flag-kp {
    background-position: 0 -1950px;
}

.flag-kr {
    background-position: 0 -1967px;
}

.flag-kw {
    background-position: 0 -1984px;
}

.flag-ky {
    background-position: 0 -2001px;
}

.flag-kz {
    background-position: 0 -2018px;
}

.flag-la {
    background-position: 0 -2035px;
}

.flag-lb {
    background-position: 0 -2052px;
}

.flag-lc {
    background-position: 0 -2069px;
}

.flag-li {
    background-position: 0 -2086px;
}

.flag-lk {
    background-position: 0 -2103px;
}

.flag-lr {
    background-position: 0 -2120px;
}

.flag-ls {
    background-position: 0 -2137px;
}

.flag-lt {
    background-position: 0 -2155px;
}

.flag-lu {
    background-position: 0 -2172px;
}

.flag-lv {
    background-position: 0 -2188px;
}

.flag-ly {
    background-position: 0 -2205px;
}

.flag-ma {
    background-position: 0 -2222px;
}

.flag-mc {
    background-position: 0 -2239px;
}

.flag-md {
    background-position: 0 -2256px;
}

.flag-mg {
    background-position: 0 -2273px;
}

.flag-mh {
    background-position: 0 -2290px;
}

.flag-mk {
    background-position: 0 -2307px;
}

.flag-ml {
    background-position: 0 -2324px;
}

.flag-mm {
    background-position: 0 -2341px;
}

.flag-mn {
    background-position: 0 -2358px;
}

.flag-mo {
    background-position: 0 -2375px;
}

.flag-mp {
    background-position: 0 -2392px;
}

.flag-mq {
    background-position: 0 -2409px;
}

.flag-mr {
    background-position: 0 -2426px;
}

.flag-ms {
    background-position: 0 -2443px;
}

.flag-mt {
    background-position: 0 -2460px;
}

.flag-mu {
    background-position: 0 -2477px;
}

.flag-mv {
    background-position: 0 -2494px;
}

.flag-mw {
    background-position: 0 -2511px;
}

.flag-mx {
    background-position: 0 -2528px;
}

.flag-my {
    background-position: 0 -2545px;
}

.flag-mz {
    background-position: 0 -2562px;
}

.flag-na {
    background-position: 0 -2579px;
}

.flag-nc {
    background-position: 0 -2596px;
}

.flag-ne {
    background-position: 0 -2613px;
}

.flag-nf {
    background-position: 0 -2630px;
}

.flag-ng {
    background-position: 0 -2647px;
}

.flag-ni {
    background-position: 0 -2664px;
}

.flag-nl {
    background-position: 0 -2680px;
}

.flag-no {
    background-position: 0 -2696px;
}

.flag-np {
    background-position: 0 -2713px;
}

.flag-nr {
    background-position: 0 -2730px;
}

.flag-nu {
    background-position: 0 -2747px;
}

.flag-nz {
    background-position: 0 -2764px;
}

.flag-om {
    background-position: 0 -2781px;
}

.flag-pa {
    background-position: 0 -2798px;
}

.flag-pe {
    background-position: 0 -2816px;
}

.flag-pf {
    background-position: 0 -2834px;
}

.flag-pg {
    background-position: 0 -2851px;
}

.flag-ph {
    background-position: 0 -2868px;
}

.flag-pk {
    background-position: 0 -2885px;
}

.flag-pl {
    background-position: 0 -2902px;
}

.flag-pm {
    background-position: 0 -2919px;
}

.flag-pn {
    background-position: 0 -2936px;
}

.flag-pr {
    background-position: 0 -2952px;
}

.flag-ps {
    background-position: 0 -2969px;
}

.flag-pt {
    background-position: 0 -2986px;
}

.flag-pw {
    background-position: 0 -3003px;
}

.flag-py {
    background-position: 0 -3020px;
}

.flag-qa {
    background-position: 0 -3036px;
}

.flag-ro {
    background-position: 0 -3053px;
}

.flag-rs {
    background-position: 0 -3070px;
}

.flag-ru {
    background-position: 0 -3087px;
}

.flag-rw {
    background-position: 0 -3104px;
}

.flag-sa {
    background-position: 0 -3121px;
}

.flag-sb {
    background-position: 0 -3138px;
}

.flag-sc {
    background-position: 0 -3155px;
}

.flag-sco {
    background-position: 0 -3172px;
}

.flag-sd {
    background-position: 0 -3189px;
}

.flag-se {
    background-position: 0 -3206px;
}

.flag-sg {
    background-position: 0 -3223px;
}

.flag-sh {
    background-position: 0 -3240px;
}

.flag-si {
    background-position: 0 -3257px;
}

.flag-sk {
    background-position: 0 -3274px;
}

.flag-sl {
    background-position: 0 -3291px;
}

.flag-sm {
    background-position: 0 -3308px;
}

.flag-sn {
    background-position: 0 -3325px;
}

.flag-so {
    background-position: 0 -3342px;
}

.flag-sr {
    background-position: 0 -3359px;
}

.flag-st {
    background-position: 0 -3376px;
}

.flag-sv {
    background-position: 0 -3393px;
}

.flag-sy {
    background-position: 0 -3410px;
}

.flag-sz {
    background-position: 0 -3427px;
}

.flag-tc {
    background-position: 0 -3445px;
}

.flag-td {
    background-position: 0 -3462px;
}

.flag-tf {
    background-position: 0 -3479px;
}

.flag-tg {
    background-position: 0 -3496px;
}

.flag-th {
    background-position: 0 -3513px;
}

.flag-tj {
    background-position: 0 -3530px;
}

.flag-tk {
    background-position: 0 -3547px;
}

.flag-tl {
    background-position: 0 -3564px;
}

.flag-tm {
    background-position: 0 -3581px;
}

.flag-tn {
    background-position: 0 -3598px;
}

.flag-to {
    background-position: 0 -3615px;
}

.flag-tr {
    background-position: 0 -3632px;
}

.flag-tt {
    background-position: 0 -3649px;
}

.flag-tv {
    background-position: 0 -3666px;
}

.flag-tw {
    background-position: 0 -3683px;
}

.flag-tz {
    background-position: 0 -3700px;
}

.flag-ua {
    background-position: 0 -3717px;
}

.flag-ug {
    background-position: 0 -3734px;
}

.flag-uk {
    background-position: 0 -3751px;
}

.flag-um {
    background-position: 0 -3768px;
}

.flag-us {
    background-position: 0 -3784px;
}

.flag-uy {
    background-position: 0 -3801px;
}

.flag-uz {
    background-position: 0 -3818px;
}

.flag-va {
    background-position: 0 -3835px;
}

.flag-vc {
    background-position: 0 -3852px;
}

.flag-ve {
    background-position: 0 -3869px;
}

.flag-vg {
    background-position: 0 -3885px;
}

.flag-vi {
    background-position: 0 -3902px;
}

.flag-vn {
    background-position: 0 -3919px;
}

.flag-vu {
    background-position: 0 -3936px;
}

.flag-wa {
    background-position: 0 -3953px;
}

.flag-wf {
    background-position: 0 -3970px;
}

.flag-ws {
    background-position: 0 -3987px;
}

.flag-ye {
    background-position: 0 -4004px;
}

.flag-yt {
    background-position: 0 -4021px;
}

.flag-za {
    background-position: 0 -4038px;
}

.flag-zm {
    background-position: 0 -4055px;
}

.flag-zw {
    background-position: 0 -4072px;
}

.flag-pv {
    background-position: 0 -4105px;
}