﻿.site-header {
    padding: 0 15px;
}

    .site-header .navbar-toggle {
        font-family: fontAwesome;
        color: #9d9b9b;
    }

        .site-header .navbar-toggle:before {
            content: "\f0c9";
        }

        .site-header .navbar-toggle:hover {
            color: #808080;
        }

        .site-header .navbar-toggle:focus,
        .site-header .navbar-toggle:active {
            background: transparent;
        }

        .site-header .navbar-toggle .icon-bar {
            display: none;
        }

    .site-header .logo {
        display: block;
        height: 50px;
    }

    .site-header .navbar-brand {
        color: #fff;
        padding: 0;
    }

.content-header {
    min-height: 25px;
    padding: 12px 0 12px 15px;
}

    .content-header .breadcrumb {
        top: 0;
    }

.site-footer {
    padding: 0 15px;
}

.wrapper .login-box,
.wrapper .register-box {
    margin: 5% auto 10%;
}

    .wrapper .login-box .page-header,
    .wrapper .register-box .page-header {
        border: none;
    }

    .wrapper .login-box .form-horizontal .form-group,
    .wrapper .register-box .form-horizontal .form-group {
        margin-right: 0;
        margin-left: 0;
    }

    .wrapper .login-box .form-horizontal .has-feedback .form-control-feedback,
    .wrapper .register-box .form-horizontal .has-feedback .form-control-feedback {
        right: 0;
    }

#EasyLinksModel {
}

    #EasyLinksModel .modal-dialog {
        max-height: 90%;
        overflow-y: auto;
    }

        #EasyLinksModel .modal-dialog .mCSB_inside > .mCSB_container {
            margin-right: 0;
        }

        #EasyLinksModel .modal-dialog .mCSB_inside > .mCSB_scrollTools {
            height: 98%;
            margin-top: 1%;
        }

        #EasyLinksModel .modal-dialog .modal-footer {
            padding: 15px 15px 30px;
        }

#EasyLinksWaitModel {
}

    #EasyLinksWaitModel .modal-dialog {
        width: 200px;
        margin-top: 250px;
    }

        #EasyLinksWaitModel .modal-dialog .modal-header {
            padding: 1px 15px;
        }

            #EasyLinksWaitModel .modal-dialog .modal-header h4 {
                margin: 5px 0;
            }

        #EasyLinksWaitModel .modal-dialog .modal-body {
        }

            #EasyLinksWaitModel .modal-dialog .modal-body .progress {
                margin: 0;
            }

.easylink-form {
}

    .easylink-form .form-control {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border-radius: 4px !important;
    }

        .easylink-form .form-control.input-lg {
            border-radius: 6px !important;
        }

    .easylink-form .date-button-panel {
        height: 76px;
        width: 70px;
    }

        .easylink-form .date-button-panel .control-label {
            display: block;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }

    .easylink-form .select-lg .select2-container .select2-selection--single {
        height: 46px;
    }

    .easylink-form .select-lg .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 46px;
    }

    .easylink-form .select-lg .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 12px;
    }

    .easylink-form select {
        width: 100%;
    }

    .easylink-form .form-group .input-group.left-addon .input-group-addon {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .easylink-form .form-group .input-group.left-addon .form-control {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .easylink-form .form-group .input-group.left-addon.colored .input-group-addon {
        background-color: #eeeeee;
    }

    .easylink-form .form-group.has-error .input-group.left-addon .form-control {
    }

    .easylink-form .form-group.has-error .input-group.left-addon.colored .input-group-addon {
        border-color: #dd4b39 !important;
        background-color: #dd4b39 !important;
        color: #ffffff !important;
    }

    .easylink-form .form-group.has-success .input-group.left-addon .form-control {
    }

    .easylink-form .form-group.has-success .input-group.left-addon.colored .input-group-addon {
        border-color: #00a65a !important;
        background-color: #00a65a !important;
        color: #ffffff !important;
    }

    .easylink-form .form-group .input-group.right-addon .input-group-addon {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .easylink-form .form-group .input-group.right-addon .form-control {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .easylink-form .form-group.select-form-group .input-group.right-addon .input-group-addon {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-left-style: solid;
        border-left-width: 1px;
    }

    .easylink-form .form-group.select-form-group .input-group.right-addon .form-control {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        display: none;
    }

    .easylink-form .form-group .input-group.right-addon.colored .input-group-addon {
        background-color: #eeeeee;
    }

    .easylink-form .form-group.has-error .input-group.right-addon .form-control {
    }

    .easylink-form .form-group.has-error .input-group.right-addon.colored .input-group-addon {
        border-color: #dd4b39 !important;
        background-color: #dd4b39 !important;
        color: #ffffff !important;
    }

    .easylink-form .form-group.has-success .input-group.right-addon .form-control {
    }

    .easylink-form .form-group.has-success .input-group.right-addon.colored .input-group-addon {
        border-color: #00a65a !important;
        background-color: #00a65a !important;
        color: #ffffff !important;
    }
