@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

* {margin: 0;padding: 0;}
.left {float: left;}
.right {float: right;}
.m_top1 {margin-top: 10px;}
.m_top2 {margin-top: 20px;}
.m_top3 {margin-top: 30px;}
.m_top4 {margin-top: 40px;}
.m_top5 {margin-top: 50px;}
.m_top17 {margin-top: 170px;}
.m_bot1 {margin-bottom: 10px;}
.m_bot2 {margin-bottom: 20px;}
.m_bot3 {margin-bottom: 30px;}
img {border: none;}
.clear {clear: both;}
textarea {resize: none;outline: none;}
input[type="text"] {outline: none;}
.com {float:left;width: 100%;}
.align_center {float:left;width: 100%;text-align: center;}
ul {margin:0;padding:0;}
ul li {float:left;line-height:20px;}
ul li a{float:left;text-decoration:none;}

body {
    background: #0063AD;
	font-family: 'Roboto', sans-serif;
}

.logo_bg {
	background: #FFF;
	padding: 1% 0;
}

.wrapper {
	margin:0 auto;
	width:960px;
}

.inner_wrapper {
	border-right:1px solid #eae7e7;
	border-left:1px solid #eae7e7;
	border-bottom:1px solid #eae7e7;
	background:#FFFFFF;
	padding-bottom:30px;
	box-sizing: border-box;
}

/* Terms CSS */
.terms_left_div
{
    float: left;
    margin-left: 32px;
    width: 93%;
}

.terms_head_div
{
	float:left;
	width:99%;
	margin-top:20px;
	/* border-bottom:1px solid #666666; */
	margin-bottom: 10px;
}

.terms_head_div1
{
	float:left;
	width:99%;
	margin-top:20px;
	margin-bottom: 10px;
}

.terms_heading
{
	color:#000000;
	margin:0;
	font-size: 30px;
}

.terms_content_div
{
	float:left;
	margin-top:20px;
	border:1px solid #EBEBEB;
	width:500px;
	padding:10px;
	margin-bottom:20px;
}

.content_heading_div
{	
	float:left;
	width:100%;
	text-align:center;
}

.terms_content_heading
{
	margin:0;
	color:#333333;
}

.content_details_div
{
	float:left;
	width:100%;
	overflow:hidden;
}

.content_details_div ul
{
	float:left;
	margin:0;
	padding:0;
	width:99%;
}

.content_details_div ul li
{
	float:left;
	list-style-type:none;
	line-height:22px;
	width:100%;
}

.content_details_div ul li .terms_con_head
{
	float:left;
	font-size:14px;
	color:#3E6EBF;
	text-decoration:none;
	text-transform: capitalize;
}

.content_details_div ul li .terms_con_head:hover
{
	color:#0B0080;
	text-decoration:underline;
}

.content_details_div ul li ul
{
	float:left;
	margin:0;
	padding:0;
	width:99%;
	margin: 0 0 0 30px;
}

.content_details_div ul li ul li
{
	float:left;
	list-style-type:none;
	line-height:20px;
	width:100%;
}

.content_details_div ul li ul li .terms_con_head1
{
	float:left;
	font-size:13px;
	color:#3E6EBF;
	text-decoration:none;
	text-transform: capitalize;
}

.content_details_div ul li ul li .terms_con_head1:hover
{
	color:#0B0080;
	text-decoration:underline;
}

.terms_intro_div
{
	float:left;
	width: 100%;
}

.term_wid
{
	width:100%;
}

.terms_common_div
{
	margin:0;
	color:#333333;
	font-size:20px;
	text-transform: capitalize;
}

.terms_common_div1
{
	margin:0;
	color:#000000;
	font-size:18px;
	text-transform: capitalize;
}

.terms_para_div
{
	float:left;
	width:99%;
}

.terms_para
{
	color:#000000;
	font-size:16px;
	line-height:1.5;
	margin: 0 0 15px;
}

.style_font
{
	font-style:italic;
	font-size:13px;
	margin-bottom: 20px;
}

.weight
{
	font-weight:bold;
}

.terms_para_div ul
{
	margin: 10px 0 0 40px;
    padding: 0;
    width: 85%;
}

.terms_para_div ul li
{
	font-size:13px;
	color:#000000;
	margin-bottom: 10px;
}

.blue
{
	float: right;
    position: fixed;
    right: 183px;
    top: 600px;
}