@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url('fixed.css');

@font-face {
    font-family: AnniFont;
    src: url('../../fonts/annifont.ttf');
}

body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	line-height: 1.3;
}

iframe[name="google_conversion_frame"]{
	width: 0;
	height: 0;
}

b {font-weight: 700;}
i {font-style: italic;}
u {text-decoration: underline;}
.m_bot15 {margin-bottom: 15px;}

.padd0 {
	padding: 0 !important;
}

.paddbot0 {
	padding-bottom: 0 !important;
}

.paddtop0 {
	padding-top: 0 !important;
}

.col_padd0 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	box-sizing: border-box;
}
.col_12 {
	width: 100%;
}
.col_11 {
	width: 91.66666667%;
}
.col_10 {
	width: 83.33333333%;
}
.col_9 {
	width: 75%;
}
.col_8 {
	width: 66.66666667%;
}
.col_7 {
	width: 58.33333333%;
}
.col_6 {
	width: 50%;
}
.col_5 {
	width: 41.66666667%;
}
.col_4 {
	width: 33.33333333%;
}
.col_3 {
	width: 25%;
}
.col_2 {
	width: 16.66666667%;
}
.col_1 {
	width: 8.33333333%;
}

.com, .align_center {position: relative;}

.wrapper {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.videoWrapper {
	display: block;
    height: 0;
    overflow: hidden;
    padding: 0 0 56.25%;
    position: relative;
}

.videoWrapper iframe {
	border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.header_bg {
	background: url('../images/header_bg.jpg') no-repeat scroll center center / cover #02082C;
	padding: 40px 0;
}

.header_hd {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 47px;
	color: #FFF;
}

/* .header_hd span {
	color: #FDCF31;
} */

.und_bg {
	background: url('../images/header_u.png') no-repeat scroll 10px bottom transparent;
	display: inline-block;
	padding: 0 0 10px;
}

.header_hd span, .und_bg span {
	color: #fdcf31;
}

.header_sub_hd {
	/* background: url('../images/header_u.png') no-repeat scroll right 31px transparent; */
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 27px;
	color: #FDCF31;
	display: inline-block;
	padding: 0 0 15px;
}

.header_sub_hd span {
	color: #FFF;
}

.header_vid_wrap {
	box-sizing: border-box;
	padding: 0 15px;
}

.wht_bg {
	background: #FFF;
	padding: 40px 0;
}

.wht_bg1 {
	background: #FFF;
	padding: 20px 0;
}

.buy_hd1 {
	font-size: 32px;
}

.buy_hd2 {
	font-size: 25px;
}

.buy_btn {
	display: inline-block;
	color: #66180b;
	text-decoration: underline;
	font-size: 42px;
	border-radius: 10px;
	padding: 15px 60px;
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #F0ED28),
		color-stop(1, #F0DC28)
	);
	background-image: -o-linear-gradient(top, #F0ED28 0%, #F0DC28 100%);
	background-image: -moz-linear-gradient(top, #F0ED28 0%, #F0DC28 100%);
	background-image: -webkit-linear-gradient(top, #F0ED28 0%, #F0DC28 100%);
	background-image: -ms-linear-gradient(top, #F0ED28 0%, #F0DC28 100%);
	background-image: linear-gradient(to top, #F0ED28 0%, #F0DC28 100%);
}

.buy_btn:hover {
	text-decoration: none;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #F0ED28),
		color-stop(1, #F0DC28)
	);
	background-image: -o-linear-gradient(bottom, #F0ED28 0%, #F0DC28 100%);
	background-image: -moz-linear-gradient(bottom, #F0ED28 0%, #F0DC28 100%);
	background-image: -webkit-linear-gradient(bottom, #F0ED28 0%, #F0DC28 100%);
	background-image: -ms-linear-gradient(bottom, #F0ED28 0%, #F0DC28 100%);
	background-image: linear-gradient(to bottom, #F0ED28 0%, #F0DC28 100%);
}

.sub_hd1 {
	font-size: 21px;
}

.sub_hd2 {
	font-size: 16px;
}

.hd1 {
	font-size: 32px;
}

.wb_lnk_txt {
	font-size: 35px;
	color: #FFF;
	display: inline-block;
	background: #66B655;
	padding: 8px 35px;
	border-radius: 5px;
}

.wb_para {
	font-size: 22px;
    line-height: 1.6;
}

.blu_bg {
	background: #F6FAFD;
	padding: 20px 0;
}

.blu_hd1 {
	font-size: 26px;
}

.gr_hd {
	font-size: 43px;
	color: #6AB855;
}

.blk_hd {
	font-size: 43px;
	color: #000;
}

.wht_hd {
	font-size: 43px;
	color: #FFF;
}

ul.testi_li li {
	display: inline-block;
	padding: 0 15px;
	width: 20%;
	box-sizing: border-box;
}

ul.testi_li li .align_center img {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}

ul.testi_li li .align_center span {
	color: #5d5e5e;
	text-transform: uppercase;
	font-size: 16px;
}

ul.soci_li li {
	display: inline-block;
	padding: 0 15px;
	width: 25%;
	box-sizing: border-box;
}

ul.soci_li li .align_center span {
	color: #FFF;
	font-size: 20px;
	line-height: 1.7;
}

.you_hd {
	font-size: 43px;
}

.gry_bg {
	padding: 40px 0 20px;
	background: #252D30;
	color: #FFF;
}

.wel_hd {
	font-size: 43px;
	margin: 0 0 20px;
}

.wel_para {
	font-size: 20px;
	line-height: 1.7;
	margin: 0 0 20px;
}

.para {
	font-size: 20px;
	line-height: 1.7;
}

.para1 {
	font-size: 18px;
	line-height: 1.5;
}

.testi_img_rad {
	border-radius: 50%;
}

.testi_div {
	background: #252D30;
	position: relative;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 15px;
	margin-left: -15px;
}

.testi_div:after {
	top: 12px;
	left: -12px;
	content: " ";
	position: absolute;
	pointer-events: none;
	z-index: 1;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 12px 12px 0;
	border-color: transparent #252d30 transparent transparent;
}

.testi_para {
	color: #FFF;
	font-size:19px;
	line-height: 1.5;
}

.testi_name {
	color: #252d30;
	font-size:16px;
}

.gry_arr {
	position: relative;
}

.gry_arr:after {
	top: 100%;
	left: 50%;
	content: " ";
	position: absolute;
	pointer-events: none;
	margin-left: -83px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 83px 0 83px;
	border-color: #252d30 transparent transparent transparent;
	z-index: 1;
}

.gr_bg {
	padding: 40px 0;
	background: #61A929;
	color: #FFF;
}

.gr_bg_hd {
	color: #f5f128;
	font-size: 67px;
}

.gr_bg_hd1 {
	color: #FFF;
	font-size: 55px;
	line-height: 1;
}

.vid_wrap {
	width: 81%;
	margin: 0 auto;
}

.wht_hd_lh {
	line-height: 1.7;
}

.int_hd {
	font-size: 23px;
}

.int_hd1_bg {
	background: url('../images/int_ht_bg.png') no-repeat scroll center center transparent;
	padding: 12px 0;
}

.esy_bg {
	background: url('../images/esy_bg.png') no-repeat scroll center center transparent;
	padding: 12px 0;
}

.esy_bg1 {
	background: url('../images/esy_bg1.png') no-repeat scroll center center transparent;
	padding: 12px 0;
}

.int_hd1 {
	font-size: 23px;
	color: #252D30;	
}

.intro_stp_bg {
	position: absolute;
	top: 50%;
	left: 44%;
	-ms-transform: translate(-56%,-50%); /* IE 9 */
	-webkit-transform: translate(-56%,-50%); /* Safari */
	transform: translate(-56%,-50%);
	z-index: 1;
}

.intro_stp_bg1 {
	position: absolute;
	top: 50%;
	left: 56%;
	-ms-transform: translate(-44%,-50%); /* IE 9 */
	-webkit-transform: translate(-44%,-50%); /* Safari */
	transform: translate(-44%,-50%);
	z-index: 1;
}

.para_grn {
	color: #6ab855;
}

.int_hd_sz {
	font-size: 16px;
}

.int_hd span {
	color: #f5f128;
}

.drk_gry_bg {
	background: #212226;
	padding: 40px 0;
	color: #FFF;
}

.drk_gry_bg_nn {
	background: #212226;
	padding: 40px 0;
	color: #FFF;
}

.drk_gry_bg:after {
	top: 100%;
	left: 50%;
	content: " ";
	position: absolute;
	pointer-events: none;
	margin-left: -83px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 83px 0 83px;
	border-color: #212226 transparent transparent transparent;
	z-index: 1;
}

.data_hd {
	font-size: 43px;
	line-height: 1.7;
}

.data_hd span {
	color: #f5f128;
}

.data_hd1 {
	font-size: 43px;
	line-height: 1.3;
	color: #000;
}

.data_hd1 span {
	color: #61a929;
}

.snp_hd {
	font-size: 24px;
	font-family: 'AnniFont', cursive;
}

.snp_hd1 {
	font-size: 30px;
	font-family: 'AnniFont', cursive;
	margin-left: 10px;
}

.nnj_hd {
	font-size: 36px;
	color: #000;
	line-height: 1.7;
}

.nnj_hd span {
	color: #6ab855;
	background: url('../images/500_bg.png') no-repeat scroll center center transparent;
	display: inline-block;
	padding: 0 20px;
}

.nnj_img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.stg_img_hd {
	font-size: 13px;
	color:#000;
	line-height: 1.5;
}

.stg_img_hd span {
	color: #6ab855;
}

.stg_img {
	margin: 0 0 0 15px;
}

.stg_grn_bg {
	box-sizing: border-box;
	padding: 10px 15px;
	background: #61A929;
	color: #FFF;
}

.stg_gry_bg {
	box-sizing: border-box;
	padding: 10px 15px;
	background: #2B2E35;
	color: #FFF;
}

.way_hd {
	font-size: 36px;
}

.idt_hd {
	font-size: 26px;
	color: #6ab855;
}

.pri_hd {
	color: #61A929;
	font-size: 130px;
	font-weight: 800;
}

.ps_hd {
	font-size: 200px;
	line-height: 1;
}

.lht_gry_bg {
	padding: 40px 0;
	background: #EFEFEF;
}

.int_hd_heil {
	display: inline-block;
	background: url('../images/int_ht_bg1.png') no-repeat scroll center center transparent;
	padding: 12px 70px;
}

.retar_hd {
	font-size: 16px;
}

.retar_para {
	font-size: 13px;
	color: #8c8f8f;
	line-height: 1.3;
}

.para_sz {
	font-size: 24px;
}

.data_hd_lh {
	line-height: 1.5;
}

.drk_gry_bg_padd {
	padding: 40px 0 0;
}

.buy_hd2_mrb {
	margin: 0 0 20px;
}

.buy_hd2_col {
	color: #8ec549;
}

.guar_para {
	font-size: 17px;
	line-height: 1.5;
	margin: 0 0 20px;
	font-family: Tahoma, Geneva, sans-serif;
}

.red_bg {
	padding: 40px 0;
	background: #B21A26;
	color: #FFF;
}

.red_bg_hd {
	font-size: 90px;
}

.red_sub_hd {
	display: inline-block;
	background: #2C2D2F;
	border-radius: 10px;
	padding: 5px 30px;
	font-size: 20px;
	line-height: 1.2;
}

.buy_hd3 {
	font-size: 27px;
	line-height: 2;
}

.buy_hd3 span {
	color: #2B3036;
	background: #FFCF31;
	display: inline-block;
	padding: 0 5px;
}

.testim_div {
	width: 94%;
	margin: 30px auto;
	box-sizing: border-box;
	background: #FFF;
	padding: 20px 20px 75px 20px;
	position: relative;
	border-radius: 10px;
	color: #333;
}

.testim_div:after {
	top: 20px;
	left: -15px;
	content: " ";
	position: absolute;
	pointer-events: none;
	z-index: 1;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 15px 20px 0;
	border-color: transparent #FFF transparent transparent;
}

.testim_img {
	position: absolute;
	bottom: -73px;
	left: 50%;
	margin-left: -73px;
}

.testi_name_col {
	color: #FFF;
}

.remem_hd {
	font-size: 43px;
	line-height: 1.2;
}

.remem_hd span {
	color: #8ec549;
}

.buy_hd4 {
	color: #f0de28;
	font-size: 32px;
}

.mrm {
	margin-top: -110px;
}

.cpy_txt {
    color: #777;
    font-size: 14px;
}

.foot_bg {
	padding: 15px 0;
	background: #EFEFEF;
}

.foot_mnu ul li {
    color: #777;
    font-size: 14px;
}

.foot_mnu ul li a {
    color: #777;
    font-size: 14px;
    padding: 0 5px;
}

.foot_mnu ul li a:hover {
	color: #333;
}

@media handheld, only screen and (max-width: 767px) {
	.wrapper {
		max-width: 300px;
	}
	
	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, ul.testi_li li, ul.soci_li li {
		width: 100%;
		margin: 15px 0;
	}
	
	.und_bg, .esy_bg, .esy_bg1 {
		background: none;
	}
	
	.intro_stp_bg, .intro_stp_bg1, .nnj_img, .ds_nn {
		display: none;
	}
	
	.mrm {
		margin: 0;
	}
}