﻿@media (max-width:767px) {
    .dashboard-box.small-box {
        text-align: left;
    }

        .dashboard-box.small-box .icon {
            display: block;
        }

        .dashboard-box.small-box p {
            font-size: 15px;
        }
}

.dashboard-box.small-box p {
    margin-bottom: 20px;
    margin-right: 80px;
    font-size: 14px;
}

.dashboard-box.small-box .icon {
    font-size: 80px;
}

.dashboard-box.small-box:hover .icon {
    font-size: 85px;
}

.dashboard-list-box {
}

    .dashboard-list-box .box-body {
        overflow: hidden;
        height: 250px;
    }


        .dashboard-list-box .box-body table {
            width: 100%;
        }

            .dashboard-list-box .box-body table tr {
            }

                .dashboard-list-box .box-body table tr th {
                    font-size: 10px;
                    padding: 5px;
                }

                    .dashboard-list-box .box-body table tr th.action-column {
                        min-width: 50px;
                    }

                    .dashboard-list-box .box-body table tr th span {
                    }

                .dashboard-list-box .box-body table tr td {
                    font-size: 10px;
                    padding: 5px;
                }

                    .dashboard-list-box .box-body table tr td .btn {
                        font-size: 10px;
                    }

                    .dashboard-list-box .box-body table tr td span {
                    }

    .dashboard-list-box .mCSB_inside > .mCSB_container {
        margin-right: 0;
    }

    .dashboard-list-box .mCSB_scrollTools {
        right: -5px;
    }


    .dashboard-list-box .box-footer {
        font-size: 10px;
        font-weight: normal;
    }


.dashboard_statsdaterange {
    background: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    max-width: 200px;
    margin-bottom: 5px;
    margin-right: 5px;
}

    .dashboard_statsdaterange b.caret {
        margin-top: 8px;
    }

    .dashboard_statsdaterange .glyphicon-calendar {
        top: 3px;
    }
