﻿@media (max-width: 310px) {
    .link_sequence_statschart {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkdetails {
        display: block;
        float: none;
    }
}

@media (min-width: 992px) {
    .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkdetails {
        display: inline-block;
        float: right;
    }
}

.link-sequence-body .top-buttons .btn {
    width: 180px;
}

.table-link_sequence-tracking-stats thead tr th.stats-column {
    background-color: #b6cbe6;
}


.link_sequence_statschart {
    margin-left: 7px;
    margin-top: -17px;
}

.link_sequence_statsdaterange {
    background: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 200px;
    margin-bottom: 5px;
    margin-right: 5px;
}

    .link_sequence_statsdaterange b.caret {
        margin-top: 8px;
    }

    .link_sequence_statsdaterange .glyphicon-calendar {
        top: 3px;
    }

.link_sequence_statscharts {
    margin: 0;
}

    .link_sequence_statscharts li {
        margin: 0;
        padding: 0;
    }

        .link_sequence_statscharts li .btn {
        }

.link_sequence_linkbox {
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    margin: 5px 0;
    padding: 12px;
}

    .link_sequence_linkbox .link_sequence_linkbox-contents {
        background-color: #f0f0f0;
        border: 1px solid #c1c1c1;
        padding: 5px 0;
    }

        .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkposition {
            background-color: #1ac6b4;
            color: #32383d;
            font-size: 20px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            vertical-align: middle;
            width: 50px;
        }

        .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkurl {
        }

            .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkurl .link_sequence_linkurloptions {
            }

                .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkurl .link_sequence_linkurloptions li {
                    padding-right: 0;
                }

                    .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkurl .link_sequence_linkurloptions li a {
                        color: #32383d;
                        font-size: 12px;
                    }

                    .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkurl .link_sequence_linkurloptions li span {
                        color: #32383d;
                        font-size: 10px;
                    }

            .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkurl .easylinkurl {
            }

            .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkurl .customurl {
            }

        .link_sequence_linkbox .link_sequence_linkbox-contents .btn-advance-settings {
            margin-left: 12px;
        }

        .link_sequence_linkbox .link_sequence_linkbox-contents .advance-settings {
            display: none;
        }

            .link_sequence_linkbox .link_sequence_linkbox-contents .advance-settings .maxclicks {
            }

            .link_sequence_linkbox .link_sequence_linkbox-contents .advance-settings .startdate {
            }

            .link_sequence_linkbox .link_sequence_linkbox-contents .advance-settings .enddate {
            }

        .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_link-actions {
            display: inline-block;
            float: right;
            margin: 0 0 7px;
        }

        .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo {
        }

            .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkdetails {
            }

                .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkdetails li {
                }

                    .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkdetails li .btn {
                    }

                    .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkdetails li span {
                    }

            .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkprogress {
            }

                .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkprogress .link_sequence_linkprogressdetails {
                    text-align: right;
                }

                .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkprogress .progress {
                    position: relative;
                }

                    .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkprogress .progress .progress-bar {
                    }

                        .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkprogress .progress .progress-bar .sr-only {
                            clip: auto;
                            color: #545454;
                            display: inline-block;
                            height: 100%;
                            margin: auto;
                            top: 0;
                            width: 100%;
                            left: 0;
                            visibility: hidden;
                        }

                .link_sequence_linkbox .link_sequence_linkbox-contents .link_sequence_linkinfo .link_sequence_linkprogress .link_sequence_linkprogresspercentage {
                    background-color: #00a65a;
                    border-radius: 10px;
                    color: #ffffff;
                    display: inline-block;
                    float: right;
                    font-size: 14px;
                    margin-right: 7px;
                    padding: 1px 7px;
                }


.btn-link_sequence-detail {
    color: #8b8b8b;
    margin: 0;
    padding: 0;
    margin-top: -8px;
}

.table-link_sequence-details {
    font-size: 12px;
}

    .table-link_sequence-details th {
        font-weight: normal;
        text-decoration: underline;
    }

.table-link_sequence-tracking-stats {
}

    .table-link_sequence-tracking-stats thead {
    }

        .table-link_sequence-tracking-stats thead tr {
        }

            .table-link_sequence-tracking-stats thead tr th {
                background-color: #e5e5e5;
            }

    .table-link_sequence-tracking-stats tbody {
    }

        .table-link_sequence-tracking-stats tbody tr {
        }

            .table-link_sequence-tracking-stats tbody tr td {
                font-size: 12px;
                vertical-align: middle;
            }

                .table-link_sequence-tracking-stats tbody tr td img {
                }

    .table-link_sequence-tracking-stats .icheckbox_minimal-blue {
        background-color: #ffffff;
    }

.nonuniquelink_sequencevisit {
    color: #ff9c00;
}

.botlink_sequencevisit {
    color: #f51a61;
}

.uniquelink_sequencevisit {
    color: #7db22b;
}

.btn-link_sequence_database {
    max-width: 100px;
    margin: auto;
}


.link_sequence_statslinks {
    margin-right: 5px;
    width: 250px;
}

    .link_sequence_statslinks .select2-container .select2-selection--single {
        height: 34px;
    }

    .link_sequence_statslinks .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 34px;
    }

    .link_sequence_statslinks .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 5px;
    }

