﻿.manual-sale-split-partner-well {
    /*height: 650px;*/
    position: relative;
    /*max-width: 500px;*/
}

    .manual-sale-split-partner-well .remove-manual-sale-split-partner {
        position: absolute;
        top: -5px;
        right: -5px;
    }

.manual-sale-partner {
}

    .manual-sale-partner .form-control {
        border: none;
        border-bottom: 1px solid #d2d6de;
        background: transparent;
        padding: 6px 12px;
    }

        .manual-sale-partner .form-control:focus {
            border-bottom-color: #66afe9;
        }

        .manual-sale-partner .form-control::-moz-placeholder {
            color: #b2b2b2;
            opacity: 1;
        }

        .manual-sale-partner .form-control:-ms-input-placeholder {
            color: #b2b2b2;
        }

        .manual-sale-partner .form-control::-webkit-input-placeholder {
            color: #b2b2b2;
        }

    .manual-sale-partner .input-group-addon {
        background: transparent;
        border-right: medium none;
        border-top: medium none;
    }

.manual-sale-details {
}

    .manual-sale-details .form-control {
        border: none;
        border-bottom: 1px solid #d2d6de;
        background: transparent;
        /*padding: 6px 12px;*/
        width: 100%;
    }

    .manual-sale-details .name-form-group {
        /*margin-right: 0;*/
        width: 35%;
        margin-right: 5%;
    }

        .manual-sale-details .name-form-group .form-control-feedback {
            /*right: 35px;*/
        }

    .manual-sale-details .note-form-group {
        background: white none repeat scroll 0 0;
        border: 1px solid #d2d6de;
        border-radius: 5px;
        left: 14px;
        padding: 7px;
        position: absolute;
        top: 30px;
        z-index: 100;
        display: none;
        width: 50%;
        margin-right: 0;
    }

        .manual-sale-details .note-form-group textarea {
            border: 1px solid #d2d6de;
            border-radius: 5px;
            padding: 5px;
            width: 100%;
            font-size: 12px;
        }

        .manual-sale-details .note-form-group .form-control-feedback {
            right: 15px;
        }

    .manual-sale-details .amount-form-group {
        /*margin-right: 0;*/
        width: 35%;
    }

        .manual-sale-details .amount-form-group .form-control-feedback {
            /*right: -10px;*/
        }

        .manual-sale-details .amount-form-group .form-control {
            /*padding-left: 2px;
            padding-right: 18px;*/
        }


    .manual-sale-details .help-block.with-errors {
        background: white;
        border: 1px solid #d2d6de;
        padding: 2%;
        position: absolute;
        width: 92%;
    }

    .manual-sale-details .input-group-addon {
        border: none;
        border-bottom: 1px solid #d2d6de;
        background: transparent;
    }



    .manual-sale-details .form-control:focus {
        border-bottom-color: #66afe9;
    }

    .manual-sale-details .form-control::-moz-placeholder {
        color: #b2b2b2;
        opacity: 1;
    }

    .manual-sale-details .form-control:-ms-input-placeholder {
        color: #b2b2b2;
    }

    .manual-sale-details .form-control::-webkit-input-placeholder {
        color: #b2b2b2;
    }

    .manual-sale-details .btn-income {
        background: #ff4081;
        color: white;
        width: 20%;
    }

    .manual-sale-details .btn-other_income {
        background: #ff6a00;
        color: white;
        width: 20%;
    }

    .manual-sale-details .btn-expense {
        background: #00bcd4;
        color: white;
    }

.manual-sale-container {
    display: block;
    /*height: 200px;*/
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.manual-sale-list {
}

    .manual-sale-list thead {
    }

        .manual-sale-list thead tr {
        }

            .manual-sale-list thead tr th {
                color: #aaaaaa;
            }

    .manual-sale-list tbody {
    }

        .manual-sale-list tbody tr {
        }

            .manual-sale-list tbody tr td {
                /*border: none;*/
            }

                .manual-sale-list tbody tr td.name-col {
                    width: 80%;
                    color: #b2b2b2;
                }

                    .manual-sale-list tbody tr td.name-col .sale-note {
                        font-size: 12px;
                        margin-top: 2px;
                    }

                .manual-sale-list tbody tr td.amount-col {
                    width: 20%;
                    color: #b2b2b2;
                }

                .manual-sale-list tbody tr td.edit-col {
                    width: 10%;
                    color: #b2b2b2;
                    text-align: center;
                }

                    .manual-sale-list tbody tr td.edit-col .btn-link {
                        padding: 0;
                    }

                .manual-sale-list tbody tr td.remove-col {
                    width: 10%;
                    color: #b2b2b2;
                    text-align: center;
                }

                    .manual-sale-list tbody tr td.remove-col .btn-link {
                        padding: 0;
                    }

.manual-sale-result {
}

    .manual-sale-result tbody {
    }

        .manual-sale-result tbody tr {
        }

            .manual-sale-result tbody tr td {
                color: #b2b2b2;
                text-align: left;
                vertical-align: middle;
                border: none;
                border-bottom: 1px solid #d2d6de;
                padding-bottom: 7px;
                padding-top: 7px;
            }

            .manual-sale-result tbody tr.no-border td {
                border: none;
                padding-bottom: 0;
                padding-top: 6px;
            }

            .manual-sale-result tbody tr td.label-col {
                width: 60%;
            }

            .manual-sale-result tbody tr td.amount-col {
                color: #747474;
            }

            .manual-sale-result tbody tr td .payment-status-well{
                margin-bottom: 0;
            }

.manual-sale-result-container {
    /*height: 254px;*/
    margin-top: 0;
}


.manual-sale-split-partners-list {
}

    .manual-sale-split-partners-list li {
        width: 100px;
        position: relative;
    }

        .manual-sale-split-partners-list li .remove-manual-sale-split-partner {
            position: absolute;
            right: -5px;
            top: -5px;
        }

        .manual-sale-split-partners-list li div {
            text-align: center;
        }

            .manual-sale-split-partners-list li div.partner-image {
            }

                .manual-sale-split-partners-list li div.partner-image img {
                    display: block;
                    margin: 5px auto;
                    padding: 0;
                    width: 50%;
                }

            .manual-sale-split-partners-list li div.partener-name {
            }
