﻿.cke_easylinks {
}

    .cke_easylinks .cke_button__easylinks_icon {
        display: none !important;
    }

    .cke_easylinks .cke_button__easylinks_label {
        display: block;
    }

        .cke_easylinks .cke_button__easylinks_label .fa {
            font-family: FontAwesome !important;
            cursor: default;
        }

.cke_easylinks_list {
    width: 200px !important;
}

    .cke_easylinks_list .cke_combo_button {
        height: 20px;
        line-height: 0;
        margin: 0 7px;
        width: 95%;
    }

        .cke_easylinks_list .cke_combo_button .cke_combo_text {
            line-height: 20px;
            width: 84%;
        }

        .cke_easylinks_list .cke_combo_button .cke_combo_open {
            float: right;
            right: 0;
        }

        .cke_easylinks_list .cke_combo_button .cke_combo_arrow {
            margin-top: 8px;
        }

.cke_combopanel__strinsert {
    width: 190px !important;
}
