﻿@media (max-width: 767px) {
    .email-box.small-box {
        text-align: left;
    }

        .email-box.small-box .icon {
            display: block;
        }

        .email-box.small-box h3 {
            font-size: 30px;
        }
}

.small-box.email-box > .small-box-header {
    position: relative;
    text-align: left;
    padding: 3px 3px 3px 7px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 12px;
}

    .small-box.email-box > .small-box-header:hover {
        color: #fff;
        background: rgba(0, 0, 0, 0.15);
    }

    .small-box.email-box > .small-box-header ul {
        margin-bottom: 0;
    }

        .small-box.email-box > .small-box-header ul li {
        }

            .small-box.email-box > .small-box-header ul li a {
                color: rgba(255, 255, 255, 0.8);
            }

.small-box.email-box .icon {
    /*top: 0;*/
}

.small-box.email-box.email-pending .icon {
    color: white;
}

.small-box.email-box.email-pending .autoresponder,
.small-box.email-box.email-copied .autoresponder {
    display: none;
}

.small-box.email-box > .small-box-footer {
    font-size: 12px;
    height: 23px;
    overflow: hidden;
    padding: 3px;
    text-align: left;
}

    .small-box.email-box > .small-box-footer a {
        color: rgba(255, 255, 255, 0.8);
    }

.email-box {
    height: 150px;
}

    .email-box.bg-gray {
    }

        .email-box.bg-gray .inner {
            padding-left: 35px;
            padding-top: 18px;
        }

            .email-box.bg-gray .inner h3,
            .email-box.bg-gray .inner h3 a {
                /*font-size: 28px;
                font-weight: normal;*/
                font-size: 35px;
            }

                .email-box.bg-gray .inner h3,
                .email-box.bg-gray .inner h3 a,
                .email-box.bg-gray .inner h3 a span {
                    color: rgba(0, 0, 0, 0.2);
                    display: block;
                }

                    .email-box.bg-gray .inner h3 a span.small {
                        margin-top: 5px;
                    }

                    .email-box.bg-gray .inner h3:hover,
                    .email-box.bg-gray .inner h3 a:hover,
                    .email-box.bg-gray .inner h3 a:hover span {
                        color: #f9f9f9;
                    }

        .email-box.bg-gray .icon {
            top: 20px;
        }

    .email-box.email-pending,
    .email-box.email-active,
    .email-box.email-copied {
    }

    .email-box.email-copied {
        opacity: 0.75;
        filter: alpha(opacity=75);
    }

        .email-box.email-copied * {
            color: rgba(255, 255, 255, 0.70);
        }

        .email-box.email-pending .inner,
        .email-box.email-active .inner,
        .email-box.email-copied .inner {
            height: 104px;
        }

        .email-box.email-pending .icon,
        .email-box.email-active .icon,
        .email-box.email-copied .icon {
            top: 15px;
        }

        .email-box.email-pending .autoresponder,
        .email-box.email-active .autoresponder,
        .email-box.email-copied .autoresponder {
            -webkit-transition: all 0.3s linear 0s;
            -o-transition: all .3s linear;
            transition: all 0.3s linear 0s;
            color: rgba(255, 255, 255, 1);
            font-size: 12px;
            position: absolute;
            right: 2px;
            text-align: center;
            top: 112px;
            width: 120px;
            z-index: 0;
        }

        .email-box.email-pending .small-box-header .mailsubject,
        .email-box.email-active .small-box-header .mailsubject,
        .email-box.email-copied .small-box-header .mailsubject {
            display: block;
            font-size: 12px;
            height: 15px;
            line-height: 16px;
            overflow: hidden;
        }

            .email-box.email-pending .small-box-header .mailsubject .scissors,
            .email-box.email-active .small-box-header .mailsubject .scissors,
            .email-box.email-copied .small-box-header .mailsubject .scissors {
                color: rgba(255, 255, 255, 1);
            }

        .email-box.email-pending .inner h3,
        .email-box.email-active .inner h3,
        .email-box.email-copied .inner h3 {
            margin-bottom: 0;
        }

    .email-box.email-active .inner h3 {
        margin-left: 0;
    }

        .email-box.email-active .inner h3 .main_clicks {
            font-size: 30px;
            margin-bottom: 0;
        }

        .email-box.email-active .inner h3 .cta_clicks {
            color: white;
            display: block;
            font-size: 18px;
            margin-bottom: 13px;
            margin-left: 30px;
            margin-top: 0;
        }

        .email-box.email-active .inner .email-link-date{
            font-size: 10px;
            position: absolute;
            right: 4px;
            top: 26px;
        }

        .email-box.email-active .inner .email-link-time{
            font-size: 10px;
            position: absolute;
            right: 4px;
            top: 40px;
        }

    .email-box.email-pending .inner .emailtype,
    .email-box.email-active .inner .emailtype,
    .email-box.email-copied .inner .emailtype {
        height: 20px;
        margin-right: 70px;
        overflow: hidden;
        padding-left: 30px;
    }

    .email-box.email-active .inner .emailtype {
        padding-left: 0;
    }

    .email-box.email-pending .inner h3 .headericon {
        color: rgba(255, 255, 255, 1.0);
        font-size: 20px;
    }

    .email-box.email-active .inner h3 .headericon {
        color: rgba(255, 255, 255, 1.0);
        font-size: 20px;
    }

    .email-box.email-copied .inner h3 .headericon {
        color: rgba(255, 255, 255, 1.0);
        font-size: 20px;
    }

.btn-campaign-detail {
    color: #8b8b8b;
    margin: 0;
    padding: 0;
    margin-top: -8px;
}

.table-campaign-details {
    font-size: 12px;
}

    .table-campaign-details th {
        font-weight: normal;
        text-decoration: underline;
    }
