﻿@media (max-width: 310px) {
    .paidtraffic_statschart {
        margin-left: 0;
        margin-top: 10px;
    }
}

.table-paidtraffic-tracking-stats thead tr th.stats-column {
    background-color: #b6e6bb;
}

.table-paidtraffic-tracking-stats thead tr th.action-column {
    background-color: #bfb9e3;
}

.table-paidtraffic-tracking-stats thead tr th.sale-column {
    background-color: #e8cbb3;
}

.table-paidtraffic-tracking-stats thead tr th.cost-column {
    background-color: #eeadea;
}

.table-paidtraffic-tracking-stats thead tr th.non-score-column {
    /*background-color: #b6e4e6;*/
}

.table-paidtraffic-tracking-stats thead tr th.score-column {
    /*background-color: #b6e4e6;*/
}

.table-paidtraffic-tracking-stats tbody tr td.stats-column {
    /*background-color: #ceead1;*/
}

.table-paidtraffic-tracking-stats tbody tr td.action-column {
    /*background-color: #e0deee;*/
}

.table-paidtraffic-tracking-stats tbody tr td.sale-column {
    /*background-color: #f0e5dd;*/
}

.table-paidtraffic-tracking-stats tbody tr td.cost-column {
    /*background-color: #f3dcf1;*/
}

.table-paidtraffic-tracking-stats tbody tr td.non-score-column {
    /*background-color: #e4f2f3;*/
}

.table-paidtraffic-tracking-stats tbody tr td.score-column {
    /*background-color: #e4f2f3;*/
    padding-left: 1px;
    padding-right: 1px;
}

.paidtraffic-extra-options {
    background: transparent;
}

    .paidtraffic-extra-options .btn {
        margin: 0 0 5px;
        min-width: 110px;
    }

.btn-paidtraffic_database {
    max-width: 100px;
    margin: auto;
}

.paidtraffic_statsdaterange {
    background: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 200px;
    margin-bottom: 5px;
    margin-right: 5px;
}

    .paidtraffic_statsdaterange b.caret {
        margin-top: 8px;
    }

    .paidtraffic_statsdaterange .glyphicon-calendar {
        top: 3px;
    }

.paidtraffic_statscharts {
    margin: 0;
}

    .paidtraffic_statscharts li {
        margin: 0;
        padding: 0;
    }

        .paidtraffic_statscharts li .btn {
        }

.table-vendor-stats-boxes {
}

    .table-vendor-stats-boxes thead tr th {
        border: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .table-vendor-stats-boxes tbody tr td {
        border: none;
        margin: 0;
        padding: 0;
    }

        .table-vendor-stats-boxes tbody tr td .stats-vendor-name {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 5px;
        }

.vendor-stats-boxes {
}

    .vendor-stats-boxes li {
        margin: 0;
        padding: 0;
    }

    .vendor-stats-boxes .vendor-stats-box {
        width: 60px;
        height: 60px;
        text-align: center;
        overflow: hidden;
        padding: 0 2px;
    }

        .vendor-stats-boxes .vendor-stats-box .stats-value {
            color: white;
            font-weight: bold;
            margin: 2px 0 2px;
            opacity: 0.5;
            text-align: center;
        }

        .vendor-stats-boxes .vendor-stats-box .stats-desc {
            color: white;
            font-size: 10px;
            line-height: 10px;
            opacity: 0.5;
            text-align: center;
        }

        .vendor-stats-boxes .vendor-stats-box.vendor-stats-chart {
            width: 90px;
            height: 90px;
            padding: 0;
        }

            .vendor-stats-boxes .vendor-stats-box.vendor-stats-chart .knob-label {
                display: block;
                font-size: 10px;
                text-align: center;
                text-decoration: underline;
            }

.vendor-stats-box-sm {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    width: 30px;
    margin: auto;
    padding: 0 2px;
}

    .vendor-stats-box-sm span {
        color: white;
        display: block;
        font-weight: bold;
        opacity: 0.75;
        text-align: center;
    }

.green-vendor-box {
    background: #aad106;
}

.orange-vendor-box {
    background: #ff9738;
}

.red-vendor-box {
    background: #e74c36;
}

.purple-vendor-box {
    background: #694f6c;
}

.yellow-vendor-box {
    background: #ffd800;
}
