﻿@media (max-width: 310px) {
    .rotator_statschart {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkdetails {
        display: block;
        float: none;
    }
}

@media (min-width: 992px) {
    .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkdetails {
        display: inline-block;
        float: right;
    }
}

.table-rotator-tracking-stats thead tr th.stats-column {
    background-color: #b6cbe6;
}


.rotator_statschart {
    margin-left: 7px;
    margin-top: -17px;
}

.rotator_statsdaterange {
    background: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 200px;
    margin-bottom: 5px;
    margin-right: 5px;
}

    .rotator_statsdaterange b.caret {
        margin-top: 8px;
    }

    .rotator_statsdaterange .glyphicon-calendar {
        top: 3px;
    }

.rotator_statscharts {
    margin: 0;
}

    .rotator_statscharts li {
        margin: 0;
        padding: 0;
    }

        .rotator_statscharts li .btn {
        }

.rotatorlinkbox {
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    margin: 5px 0;
    padding: 12px;
}

    .rotatorlinkbox .rotatorlinkbox-contents {
        background-color: #f0f0f0;
        border: 1px solid #c1c1c1;
        padding: 5px 0;
    }

        .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkposition {
            background-color: #1ac6b4;
            color: #32383d;
            font-size: 20px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            vertical-align: middle;
            width: 50px;
        }

        .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkurl {
        }

            .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkurl .rotatorlinkurloptions {
            }

                .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkurl .rotatorlinkurloptions li {
                    padding-right: 0;
                }

                    .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkurl .rotatorlinkurloptions li a {
                        color: #32383d;
                        font-size: 12px;
                    }

                    .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkurl .rotatorlinkurloptions li span {
                        color: #32383d;
                        font-size: 10px;
                    }

            .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkurl .easylinkurl {
            }

            .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkurl .customurl {
            }

        .rotatorlinkbox .rotatorlinkbox-contents .btn-advance-settings {
            margin-left: 12px;
        }

        .rotatorlinkbox .rotatorlinkbox-contents .advance-settings {
            display: none;
        }

            .rotatorlinkbox .rotatorlinkbox-contents .advance-settings .maxclicks {
            }

            .rotatorlinkbox .rotatorlinkbox-contents .advance-settings .startdate {
            }

            .rotatorlinkbox .rotatorlinkbox-contents .advance-settings .enddate {
            }

        .rotatorlinkbox .rotatorlinkbox-contents .rotatorlink-actions {
            display: inline-block;
            float: right;
            margin: 12px 0 7px;
        }

        .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo {
        }

            .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkdetails {
            }

                .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkdetails li {
                }

                    .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkdetails li .btn {
                    }

                    .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkdetails li span {
                    }

            .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkprogress {
            }

                .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkprogress .rotatorlinkprogressdetails {
                }

                .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkprogress .progress {
                }

                    .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkprogress .progress .progress-bar {
                    }

                        .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkprogress .progress .progress-bar .sr-only {
                        }

                .rotatorlinkbox .rotatorlinkbox-contents .rotatorlinkinfo .rotatorlinkprogress .rotatorlinkprogresspercentage {
                    background-color: #00a65a;
                    border-radius: 10px;
                    color: #ffffff;
                    display: inline-block;
                    float: right;
                    font-size: 14px;
                    margin-right: 7px;
                    padding: 1px 7px;
                }


.btn-rotator-detail {
    color: #8b8b8b;
    margin: 0;
    padding: 0;
    margin-top: -8px;
}

.table-rotator-details {
    font-size: 12px;
}

    .table-rotator-details th {
        font-weight: normal;
        text-decoration: underline;
    }

.table-rotator-tracking-stats {
}

    .table-rotator-tracking-stats thead {
    }

        .table-rotator-tracking-stats thead tr {
        }

            .table-rotator-tracking-stats thead tr th {
                background-color: #e5e5e5;
            }

    .table-rotator-tracking-stats tbody {
    }

        .table-rotator-tracking-stats tbody tr {
        }

            .table-rotator-tracking-stats tbody tr td {
                font-size: 12px;
                vertical-align: middle;
            }

                .table-rotator-tracking-stats tbody tr td img {
                }

    .table-rotator-tracking-stats .icheckbox_minimal-blue {
        background-color: #ffffff;
    }

.nonuniquerotatorvisit {
    color: #ff9c00;
}

.botrotatorvisit {
    color: #f51a61;
}

.uniquerotatorvisit {
    color: #7db22b;
}

.btn-rotator_database {
    max-width: 100px;
    margin: auto;
}


.rotator_statslinks {
    margin-right: 5px;
    width: 250px;
}

    .rotator_statslinks .select2-container .select2-selection--single {
        height: 34px;
    }

    .rotator_statslinks .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 34px;
    }

    .rotator_statslinks .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 5px;
    }
