﻿.data-table-container{
    width: auto;
    display: inline-block;
    max-width: 100%;
}

.data-table-container.collapse.in{
    display: inline-block;
}

.data-table {
    width: 100%;
}

table.dataTable > tbody > tr.child ul {
    display: block;
}

.dataTables_wrapper table.dataTable {
    margin-top: 0 !important;
}

.data-table-footer {
    width: 100%;
    display: block;
    padding: 0 12px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    border-radius: 14px;
    height: 14px;
    line-height: 13px;
    text-align: center;
    text-indent: -1px;
    top: 4px;
    width: 14px;
}

/*table.dataTable.dtr-inline.collapsed > tbody > tr.detail_row > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr.detail_row > th:first-child::before {
    display: none;
}*/

tr.detail_row .dataTables_wrapper {
    width: 98%;
    margin-left: 1%;
}

.dataTables_length {
    padding-top: 2px;
}

    .dataTables_length label {
        /*display: block;*/
    }

    .dataTables_length select.select2-hidden-accessible {
        display: none;
    }

    .dataTables_length label .select2-container--default .select2-selection--single,
    .dataTables_length label .select2-selection .select2-selection--single {
        /*height: 35px;*/
    }

        .dataTables_length label .select2-container--default .select2-selection--single .select2-selection__rendered {
            /*line-height: 33px;*/
        }

        .dataTables_length label .select2-container--default .select2-selection--single .select2-selection__arrow {
            /*top: 5px;*/
        }

.dataTables_filter {
}

    .dataTables_filter label {
    }

        .dataTables_filter label .datatable-filterbox {
            width: 100% !important;
            height: 28px !important;
            margin-top: 2px;
        }


table.dataTable thead .sorting:after {
    opacity: 1;
    content: "";
}
