﻿.easylink-form {
}

    .easylink-form .form-control {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border-radius: 4px !important;
    }

        .easylink-form .form-control.input-lg {
            border-radius: 6px !important;
        }

    .easylink-form .date-button-panel {
        height: 76px;
        width: 70px;
    }

        .easylink-form .date-button-panel .control-label {
            display: block;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }

    .easylink-form .select-lg .select2-container .select2-selection--single {
        height: 46px;
    }

    .easylink-form .select-lg .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 46px;
    }

    .easylink-form .select-lg .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 12px;
    }

    .easylink-form select {
        width: 100%;
    }

    .easylink-form .form-group .input-group.left-addon .input-group-addon {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .easylink-form .form-group .input-group.left-addon .form-control {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .easylink-form .form-group .input-group.left-addon.colored .input-group-addon {
        background-color: #eeeeee;
    }

    .easylink-form .form-group.has-error .input-group.left-addon .form-control {
    }

    .easylink-form .form-group.has-error .input-group.left-addon.colored .input-group-addon {
        border-color: #dd4b39 !important;
        background-color: #dd4b39 !important;
        color: #ffffff !important;
    }

    .easylink-form .form-group.has-success .input-group.left-addon .form-control {
    }

    .easylink-form .form-group.has-success .input-group.left-addon.colored .input-group-addon {
        border-color: #00a65a !important;
        background-color: #00a65a !important;
        color: #ffffff !important;
    }

    .easylink-form .form-group .input-group.right-addon .input-group-addon {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .easylink-form .form-group .input-group.right-addon .form-control {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .easylink-form .form-group.select-form-group .input-group.right-addon .input-group-addon {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-left-style: solid;
        border-left-width: 1px;
    }

    .easylink-form .form-group.select-form-group .input-group.right-addon .form-control {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        /*display: none;*/
        visibility: hidden;
    }

    .easylink-form .form-group .input-group.right-addon.colored .input-group-addon {
        background-color: #eeeeee;
    }

    .easylink-form .form-group.has-error .input-group.right-addon .form-control {
    }

    .easylink-form .form-group.has-error .input-group.right-addon.colored .input-group-addon {
        border-color: #dd4b39 !important;
        background-color: #dd4b39 !important;
        color: #ffffff !important;
    }

    .easylink-form .form-group.has-success .input-group.right-addon .form-control {
    }

    .easylink-form .form-group.has-success .input-group.right-addon.colored .input-group-addon {
        border-color: #00a65a !important;
        background-color: #00a65a !important;
        color: #ffffff !important;
    }
