﻿@media (max-width: 1400px) {
    /*.linkbank_statschart {
        margin-left: 7px;
        margin-top: -35px;
    }*/
}

@media (min-width: 1400px) {
    /*.linkbank_statschart {
        margin-left: 7px;
        margin-top: -7px;
    }*/
}

@media (max-width: 310px) {
    .linkbank_statschart {
        margin-left: 0;
        margin-top: 10px;
    }
}

.btn-linkbank-conv{
    width: auto !important;
}

.linkbank_conversion_pixel_container{
    position: relative;
}

.btn-remove-pixel{
    position: absolute;
    right: -16px;
    top: -24px;
}

.table-link-tracking-stats {
}

    .table-link-tracking-stats thead {
    }

        .table-link-tracking-stats thead tr {
        }

            .table-link-tracking-stats thead tr th {
                background-color: #e5e5e5;
            }

            /*.table-link-tracking-stats thead tr th.tier-column{
                width: 30px;
                text-align: center;
            }

            .table-link-tracking-stats thead tr th.country-column{
                width: 30px;
                text-align: center;
            }

            .table-link-tracking-stats thead tr th.browser-column{
                width: 30px;
                text-align: center;
            }

            .table-link-tracking-stats thead tr th.platform-column{
                width: 30px;
                text-align: center;
            }

            .table-link-tracking-stats thead tr th.type-column{
                width: 30px;
                text-align: center;
            }*/

                .table-link-tracking-stats thead tr th.stats-column,
                .table-campaign-tracking-stats thead tr th.stats-column {
                    background-color: #b6cbe6;
                }

                .table-link-tracking-stats thead tr th.conv-column,
                .table-campaign-tracking-stats thead tr th.conv-column {
                    background-color: #c0debe;
                }

    .table-link-tracking-stats tbody {
    }

        .table-link-tracking-stats tbody tr {
        }

            .table-link-tracking-stats tbody tr td {
                font-size: 12px;
                vertical-align: middle;
            }

                .table-link-tracking-stats tbody tr td img {
                }

    .table-link-tracking-stats .icheckbox_minimal-blue {
        background-color: #ffffff;
    }

.linkbank-extra-options {
    background: transparent;
}

    .linkbank-extra-options .btn {
        margin: 0 0 5px;
        min-width: 110px;
    }

.btn-linkbank_database {
    max-width: 100px;
    margin: auto;
}

.linkbank_statsdaterange {
    background: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 200px;
    margin-bottom: 5px;
    margin-right: 5px;
}

    .linkbank_statsdaterange b.caret {
        margin-top: 8px;
    }

    .linkbank_statsdaterange .glyphicon-calendar {
        top: 3px;
    }

.linkbank_statscharts {
    margin: 0;
}

    .linkbank_statscharts li {
        margin: 0;
        padding: 0;
    }

        .linkbank_statscharts li .btn {
        }
