﻿@media (max-width: 310px) {
    .paidtraffic_statschart {
        margin-left: 0;
        margin-top: 10px;
    }
}

.btn-paidtraffic-conv {
    width: auto !important;
}

.table-paidtraffic-tracking-stats thead tr th.stats-column {
    background-color: #b6e6bb;
}

.table-paidtraffic-tracking-stats thead tr th.action-column {
    background-color: #bfb9e3;
}

.table-paidtraffic-tracking-stats thead tr th.sale-column {
    background-color: #e8cbb3;
}

.table-paidtraffic-tracking-stats thead tr th.cost-column {
    background-color: #eeadea;
}

.table-paidtraffic-tracking-stats thead tr th.non-score-column {
    /*background-color: #b6e4e6;*/
}

.table-paidtraffic-tracking-stats thead tr th.score-column {
    /*background-color: #b6e4e6;*/
}

.table-paidtraffic-tracking-stats tbody tr td.stats-column {
    /*background-color: #ceead1;*/
}

.table-paidtraffic-tracking-stats tbody tr td.action-column {
    /*background-color: #e0deee;*/
}

.table-paidtraffic-tracking-stats tbody tr td.sale-column {
    /*background-color: #f0e5dd;*/
}

.table-paidtraffic-tracking-stats tbody tr td.cost-column {
    /*background-color: #f3dcf1;*/
}

.table-paidtraffic-tracking-stats tbody tr td.non-score-column {
    /*background-color: #e4f2f3;*/
}

.table-paidtraffic-tracking-stats tbody tr td.score-column {
    /*background-color: #e4f2f3;*/
    padding-left: 1px;
    padding-right: 1px;
}

.paidtraffic-extra-options {
    background: transparent;
}

    .paidtraffic-extra-options .btn {
        margin: 0 0 5px;
        min-width: 110px;
    }

.btn-paidtraffic_database {
    max-width: 100px;
    margin: auto;
}

.paidtraffic_statsdaterange {
    background: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 200px;
    margin-bottom: 5px;
    margin-right: 5px;
}

    .paidtraffic_statsdaterange b.caret {
        margin-top: 8px;
    }

    .paidtraffic_statsdaterange .glyphicon-calendar {
        top: 3px;
    }

.paidtraffic_statscharts {
    margin: 0;
}

    .paidtraffic_statscharts li {
        margin: 0;
        padding: 0;
    }

        .paidtraffic_statscharts li .btn {
        }

.table-vendor-stats-boxes {
}

    .table-vendor-stats-boxes thead tr th {
        border: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .table-vendor-stats-boxes tbody tr td {
        border: none;
        margin: 0;
        padding: 0;
    }

        .table-vendor-stats-boxes tbody tr td .stats-vendor-name {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 5px;
        }

.vendor-stats-boxes {
}

    .vendor-stats-boxes li {
        margin: 0;
        padding: 0;
    }

    .vendor-stats-boxes .vendor-stats-box {
        width: 55px;
        height: 55px;
        text-align: center;
        overflow: hidden;
        padding: 0 2px;
    }

        .vendor-stats-boxes .vendor-stats-box .stats-value {
            color: white;
            font-weight: bold;
            margin: 2px 0 2px;
            opacity: 0.5;
            text-align: center;
        }

        .vendor-stats-boxes .vendor-stats-box .stats-desc {
            color: white;
            font-size: 8px;
            line-height: 8px;
            opacity: 0.5;
            text-align: center;
        }

        .vendor-stats-boxes .vendor-stats-box.vendor-stats-chart {
            width: 90px;
            height: 90px;
            padding: 0;
        }

            .vendor-stats-boxes .vendor-stats-box.vendor-stats-chart .knob-label {
                display: block;
                font-size: 10px;
                text-align: center;
                text-decoration: underline;
            }

.vendor-stats-box-sm {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    width: 30px;
    margin: auto;
    padding: 0 2px;
}

    .vendor-stats-box-sm span {
        color: white;
        display: block;
        font-weight: bold;
        opacity: 0.75;
        text-align: center;
    }

.green-vendor-box {
    background: #aad106;
}

.orange-vendor-box {
    background: #ff9738;
}

.red-vendor-box {
    background: #e74c36;
}

.purple-vendor-box {
    background: #694f6c;
}

.yellow-vendor-box {
    background: #ffd800;
}

.paidtraffic_goal_header {
}

    .paidtraffic_goal_header h5 {
        font-size: 14px;
        margin: 0;
    }

    .paidtraffic_goal_header ul {
    }

        .paidtraffic_goal_header ul li {
        }

            .paidtraffic_goal_header ul li a {
                font-size: 9px;
            }

.paidtraffic_goal_form {
}

    .paidtraffic_goal_form .form-group {
        margin-right: 5px;
    }

    .paidtraffic_goal_form label {
        font-size: 12px;
        font-weight: normal;
        margin-right: 5px;
        margin-top: 7px;
    }

    .paidtraffic_goal_form span {
        font-size: 12px;
        font-weight: normal;
        margin-right: 5px;
    }

.paidtraffic_goal_criteria_header {
}

    .paidtraffic_goal_criteria_header h5 {
        font-size: 14px;
        margin: 0;
    }

    .paidtraffic_goal_criteria_header ul {
    }

        .paidtraffic_goal_criteria_header ul li {
        }

            .paidtraffic_goal_criteria_header ul li a {
                font-size: 9px;
            }

.paidtraffic_goal_criteria_form {
}

    .paidtraffic_goal_criteria_form .form-group {
        margin-right: 5px;
    }

    .paidtraffic_goal_criteria_form .goal_criteria_score_column {
        position: relative;
    }

        .paidtraffic_goal_criteria_form .goal_criteria_score_column .goal_criteria_comparison_type {
            font-size: 10px;
            left: 0;
            position: absolute;
            top: -9px;
        }

            .paidtraffic_goal_criteria_form .criteria_row:first-child .goal_criteria_score_column .goal_criteria_comparison_type {
                display: none;
            }

    .paidtraffic_goal_criteria_form label {
        font-size: 12px;
        font-weight: normal;
        margin-right: 5px;
        margin-top: 5px;
    }

    .paidtraffic_goal_criteria_form .score_dropdown {
        width: 200px;
    }

    .paidtraffic_goal_criteria_form .compare_dropdown {
        width: 50px;
    }

    .paidtraffic_goal_criteria_form .reaches_input {
        width: 50px;
    }

    .paidtraffic_goal_criteria_form .remove_goal_criteria_row {
        color: #b50000;
        display: inline-block;
        font-size: 16px;
        text-align: center;
        margin-top: 5px;
    }

    .paidtraffic_goal_criteria_form .add_criteria {
        padding-top: 12px;
        text-align: right;
        padding-right: 5px;
    }

        .paidtraffic_goal_criteria_form .add_criteria a {
            color: #c1c1c1;
            display: inline-block;
            font-size: 20px;
            line-height: 10px;
            margin-left: 5px;
            text-align: center;
            width: 20px;
        }

            .paidtraffic_goal_criteria_form .add_criteria a span {
                font-size: 12px;
            }


.paidtraffic_goal_action_header {
}

    .paidtraffic_goal_action_header h5 {
        font-size: 14px;
        margin: 5px 0 12px;
    }

.paidtraffic_goal_action_form {
}

    .paidtraffic_goal_action_form .form-group {
        margin-right: 5px;
    }

    .paidtraffic_goal_action_form label {
        font-size: 12px;
        font-weight: normal;
        margin-right: 5px;
        margin-top: 5px;
    }

    .paidtraffic_goal_action_form .action_name_dropdown {
        width: 200px;
    }

    .paidtraffic_goal_action_form .action_frequency_input {
        width: 50px;
    }

    .paidtraffic_goal_action_form .remove_goal_action_row {
        color: #b50000;
        display: inline-block;
        font-size: 16px;
        text-align: center;
        margin-top: 5px;
    }

    .paidtraffic_goal_action_form .add_action {
        padding-top: 12px;
        text-align: right;
        padding-right: 7px;
    }

        .paidtraffic_goal_action_form .add_action a {
            color: #c1c1c1;
            display: inline-block;
            font-size: 20px;
            line-height: 10px;
            margin-left: 5px;
            text-align: center;
            width: 20px;
        }

            .paidtraffic_goal_action_form .add_action a span {
                font-size: 12px;
            }
