﻿@media (max-width: 310px) {
    .soload_statschart {
        margin-left: 0;
        margin-top: 10px;
    }
}

.table-soload-tracking-stats thead tr th.stats-column {
    background-color: #b6e6bb;
}

.table-soload-tracking-stats thead tr th.action-column {
    background-color: #bfb9e3;
}

.table-soload-tracking-stats thead tr th.sale-column {
    background-color: #e8cbb3;
}

.table-soload-tracking-stats thead tr th.cost-column {
    background-color: #eeadea;
}

.table-soload-tracking-stats thead tr th.score-column {
    background-color: #b6e4e6;
}

.soload-extra-options {
    background: transparent;
}

    .soload-extra-options .btn {
        margin: 0 0 5px;
        min-width: 110px;
    }

.btn-soload_database {
    max-width: 100px;
    margin: auto;
}

.soload_statsdaterange {
    background: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 200px;
    margin-bottom: 5px;
    margin-right: 5px;
}

    .soload_statsdaterange b.caret {
        margin-top: 8px;
    }

    .soload_statsdaterange .glyphicon-calendar {
        top: 3px;
    }

.soload_statscharts {
    margin: 0;
}

    .soload_statscharts li {
        margin: 0;
        padding: 0;
    }

        .soload_statscharts li .btn {
        }

.vendor-stats-boxes {
}

    .vendor-stats-boxes li {
        margin: 2px;
        padding: 0;
    }

    .vendor-stats-boxes .vendor-stats-box {
        width: 60px;
        height: 60px;
        text-align: center;
        overflow: hidden;
    }

        .vendor-stats-boxes .vendor-stats-box .stats-value {
            color: white;
            font-weight: bold;
            margin: 5px 0 2px;
            opacity: 0.5;
            text-align: center;
        }

        .vendor-stats-boxes .vendor-stats-box .stats-desc {
            color: white;
            font-size: 10px;
            line-height: 10px;
            opacity: 0.5;
            text-align: center;
        }

        .vendor-stats-boxes .vendor-stats-box.vendor-stats-chart {
            width: 90px;
            height: 90px;
        }

            .vendor-stats-boxes .vendor-stats-box.vendor-stats-chart .knob-label {
                display: block;
                font-size: 10px;
                text-align: center;
                text-decoration: underline;
            }

.vendor-stats-box-sm {
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    width: 30px;
    margin: auto;
}

.vendor-stats-box-sm span {
    color: white;
    display: block;
    font-weight: bold;
    opacity: 0.75;
    text-align: center;
}

.green-vendor-box {
    background: #aad106;
}

.orange-vendor-box {
    background: #ff9738;
}

.red-vendor-box {
    background: #e74c36;
}

.purple-vendor-box {
    background: #694f6c;
}

.yellow-vendor-box {
    background: #ffd800;
}
