@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');

* {
	margin: 0;
	padding: 0;
}

body {
	background:#E7E9E8;
	font-family: 'Source Sans Pro', sans-serif;
}

.clear {clear: both;}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #FFF;
	border-radius: 0 0 10px 10px;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid #CCC;
	border-top: 0;
}

.com {
	float:left;
	width: 100%;
}

.align_center {
	float:left;
	width: 100%;
	text-align: center;
}

.logo_bg {
	background-image: -ms-linear-gradient(top, #F2EAEA 0%, #5084C6 100%);
	background-image: -moz-linear-gradient(top, #F2EAEA 0%, #5084C6 100%);
	background-image: -o-linear-gradient(top, #F2EAEA 0%, #5084C6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2EAEA), color-stop(1, #5084C6));
	background-image: -webkit-linear-gradient(top, #F2EAEA 0%, #5084C6 100%);
	background-image: linear-gradient(to bottom, #F2EAEA 0%, #5084C6 100%);
border-bottom: 2px solid #86B5D4;
	
	padding: 1% 0;
}

.vid_div {
	float: left;
	width: 60%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.email_div {
	float: right;
	width: 36%;
	margin-top: 1%;
}

.txt1 {
	color: #333;
    font-size: 20px;
    line-height: 1.3;
}

.txt1 span {
	color: #cc0000;
}

.frm_div {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 5%;
}

.in_txt {
	float: left;
	width: 100%;
	padding: 5px;
	height: 32px;
	box-sizing: border-box;
	border: 1px solid #CCC;
	background: #FFF;
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #333;
}

.in_txt:focus {
	-moz-box-shadow: inset 0 0 1px 1px rgba(75, 165, 206, 0.3)
	-webkit-box-shadow: inset 0 0 1px 1px rgba(75, 165, 206, 0.3);
	box-shadow: inset 0 0 1px 1px rgba(75, 165, 206, 0.3);
	border: 1px solid rgba(75, 165, 206, 0.5);
}

.in_sub {
	background: url('../images/download.png') no-repeat scroll 0 0 transparent;
	border: none;
	cursor: pointer;
	height: 38px;
    width: 200px;
	display: inline-block;
}

.foot_txt {
	color: #333;
	font-size: 13px;
}

.foot_txt a:hover {
	text-decoration: none;
}